// ------------------------------------------------------
// Image
// ------------------------------------------------------

.image {
  height: 15.625rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include mq($from: tablet) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  @include mq($from: desktop) {
    margin-top: 3.375rem;
    margin-bottom: 3.375rem;
  }

  > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  > figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--secondary-color);
  }
}
