<figure class="image">
  <img width="680" height="250" src="{{ path '/images/{{ imageSrc }}' }}" alt="{{ imageAlt }}">
  {{#if imageCaption}}
  <figcaption>{{ imageCaption }}</figcaption>
  {{/if}}
</figure>