// -------------------------
// HOme
// -------------------------

.home-page {
  .container {
    @include wrapAnything($maxWidth: 72.5rem);
  }

  .home-content {
    padding: 2.5rem 1rem 0;
    overflow: hidden;

    @include mq($from: tablet) {
      padding-top: 4.25rem;
    }
  }

  .home-cards-cta {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin-bottom: 2rem;

    @include mq($from: tablet) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 3.5rem;
    }
  }

  .articles {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    position: relative;

    @include mq($from: tablet) {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }

    &::before,
    &::after {
      content: '';
      display: block;
      width: 100vw;
      height: 0.0625rem;
      background-color: var(--gray-100);
      position: absolute;
      left: calc(50% - 50vw);
    }

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
  }
}
