<div class="app">
  {{ render '@header' }}

  <main role="main" class="app-content home-page">
    {{!-- SLIDER --}}
    {{ render '@slider' }}

     <div class="home-content">
      <div class="container">

        <div class="home-cards-cta">
          {{#each ctaCard}}
            {{ render '@card--cards-cta' . }}
          {{/each}}
        </div>
        
        {{!-- SERVICES --}}
        {{ render '@services' }}

        {{!-- HOME ARTICLES --}}
        {{ render '@articles' }}
        
        {{!-- HOME DOWNLOAD --}}
        {{ render '@download' }}
        
        {{!-- HOME CONTACT --}}
        {{ render '@contact' }}
        
      </div>
    </div>
  </main>

  {{ render '@footer' }}
</div>