// ------------------------------------------------------
// MAP
// ------------------------------------------------------

#map {
  height: 22rem;

  @include mq($from: tablet) {
    height: 30rem;
  }
  @include mq($from: desktop) {
    height: 37.5rem;
  }
}
