// -----------------------
// LOGO
// -----------------------

.logo {
  > * {
    display: block;
    opacity: 0;
    transform: translateY(1rem) scale(0.9);
    animation: logo 400ms cubic-bezier(0.59, 0.95, 0.66, 1.25) forwards;
  }
}
