<footer class="footer">
  <div class="container">
    <ul class="footer__list">
      <li class="footer__item footer__item--logo">
        <a href="https://www.santander.com/es/home" class="footer__link" target="_blank" rel="noreferer noopener">
            <strong>Santader.com</strong>
        </a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Aviso legal</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Cookies</a>
      </li>
      <li class="footer__item">
        <a href="#" class="footer__link">Política de privacidad</a>
      </li>
      <li class="footer__item footer__item--copy">
        <span>&copy; 2021 Santander Consumer Finance Global Services</span>
      </li>
    </ul>
  </div>
</footer>