// FOOTER
// -----------------------

.footer {
  padding: 3.75rem 1rem;
  background-color: var(--secondary-color);

  .container {
    @include wrapAnything;
  }

  // Childs
  &__list {
    list-style-type: none;

    @include mq($from: tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }

  &__item {
    font-size: 1rem;
    color: var(--white);

    @include mq($from: desktop) {
      font-size: 1.125rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.375rem;

      @include mq($from: tablet) {
        margin-right: 1.25rem;
      }
      @include mq($from: desktop-landscape) {
        margin-right: 2.75rem;
      }
    }
    &::before {
      display: none;
    }

    // MODIFIERS
    &--logo {
      @include mq($from: tablet) {
        margin-right: 2rem;
      }
      @include mq($from: desktop-landscape) {
        margin-right: 4rem;
      }
    }

    &--copy {
      margin-top: 2rem;
      margin-bottom: 0;

      @include mq($from: tablet) {
        flex: 0 0 100%;
      }
      @include mq($from: desktop) {
        flex: 0 0 auto;
        margin-top: 0;
        margin-left: auto;
      }
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;

    > strong {
      font-size: 1.25rem;
    }

    &:hover,
    &:focus {
      color: var(--gray-200);
    }
  }
}
