<div class="share">
  <span class="share__label">Compartir</span>
  <ul class="share__list">
    <li class="share__item">
      <a href="https://api.whatsapp.com/send?text=https%3A%2F%2Fwww.takeaway.es%2Fgrupo-santander" class="share__link">
        <svg width="30" height="30" viewBox="0 0 20 20">
          <use xlink:href="#whatsapp"></use>
        </svg>
      </a>   
    </li>
    <li class="share__item">
      <a href="http://www.facebook.com/sharer.php?u=https://www.takeaway.es/grupo-santander&t=Santander%20Consumer%20Global%20Finance" class="share__link">
        <svg width="30" height="30" viewBox="0 0 20 20">
          <use xlink:href="#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a href="https://twitter.com/intent/tweet?url=https://www.takeaway.es/grupo-santander&text=Santander%20Consumer%20Global%20Finance" class="share__link">
        <svg width="30" height="30" viewBox="0 0 20 20">
          <use xlink:href="#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="share__item">
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.takeaway.es/grupo-santander&title=Santander%20Consumer%20Global%20Finance" class="share__link">
        <svg width="30" height="30" viewBox="0 0 20 20">
          <use xlink:href="#linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>