// ------------------------------------------------------
// Share
// ------------------------------------------------------

.share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-top: 2.5rem;
  border-bottom: 0.0625rem solid var(--gray-100);

  @include mq($from: tablet) {
    margin-top: 4.5rem;
  }

  &__label {
    font-size: 1rem;
    text-decoration: none;
    color: var(--primary-color);
  }

  &__list {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 0.5rem;
  }

  &__item {
    margin-left: 1.25rem;
  }

  &__link {
    display: block;
    height: 1.875rem;

    &:hover,
    &:focus {
      color: var(--primary-darken-color);

      > svg {
        transform: translateY(-0.125rem);
      }
    }

    > svg {
      transition: transform 150ms ease-in;
    }
  }
}
