// -----------------------
// NAV
// -----------------------

body.nav-is-open {
  overflow-y: hidden !important;

  .backdrop {
    visibility: visible;
    opacity: 1;
    transition: all 300ms cubic-bezier(0.34, -0.01, 0.51, 1);

    @include mq($from: desktop-middle) {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.nav {
  flex: 1 1 0;
  position: relative;
  display: flex;
  justify-content: flex-end;

  .hamburguer-button {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    color: var(--primary-color);
    background-color: transparent;
    position: relative;
    z-index: 2;

    @include mq($from: desktop-middle) {
      display: none;
    }

    &__text {
      margin-right: 0.25rem;
    }

    &__item {
      > span {
        display: block;
        width: 1.875rem;
        height: 0.25rem;
        margin-bottom: 5px;
        position: relative;

        background: currentColor;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 0.25rem 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

        &:first-child {
          transform-origin: 0% 0%;
        }

        &:nth-last-child(3) {
          transform-origin: 0% 100%;
        }

        &:nth-last-child(1) {
          margin-bottom: 0;
        }

        .nav-is-open & {
          opacity: 1;
          transform: rotate(45deg) translate(0, -2px);

          &:nth-last-child(2) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }

          &:nth-last-child(1) {
            transform: rotate(-45deg) translate(0, 0);
          }
        }
      }
    }
  }

  &-menu {
    width: 90%;
    height: 100vh;
    max-width: 20rem;
    justify-content: flex-end;
    padding: 1.25rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: var(--white);

    transform: translateX(100%);
    transition: transform 150ms;

    @include mq($from: desktop-middle) {
      display: flex;
      width: 100%;
      height: auto;
      max-width: initial;
      padding: 0;
      position: relative;
      transform: none;
      background: var(--white);
    }

    // STATES
    &.is-open {
      transform: none;
      transition: transform 300ms cubic-bezier(0.34, -0.01, 0.51, 1);
    }

    &__list {
      padding: 0;
      list-style: none;
      position: relative;
      display: block;
      margin-top: 4rem;

      @include mq($from: desktop-middle) {
        display: flex;
        text-align: center;
        align-items: center;
        margin-top: 0;
      }
    }

    &__item {
      list-style-type: none;

      @include mq($from: desktop-middle) {
        display: flex;
        align-items: center;
      }

      a {
        display: block;
        padding: 1rem;
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.25;
        color: var(--secondary-color);

        &:focus,
        &:hover {
          color: var(--primary-color);
        }

        @include mq($from: desktop-landscape) {
          font-size: 1.125rem;
        }
        @include mq($from: desktop-large) {
          padding-left: 1.5rem;
          padding-right: 1.5rem;
        }
      }

      &::before {
        display: none;
      }

      &--work,
      &--in,
      &--lang {
        a {
          display: flex;
          align-items: center;

          @include mq($from: desktop-landscape) {
            border-left: 0.0625rem solid var(--gray-100);
          }
        }

        span {
          margin-left: 0.5rem;
        }
      }

      &--in {
        a {
          padding-top: 1.125rem;
          padding-bottom: 1.125rem;
        }
      }
    }
  }
}
