<div class="nav" data-role="menu">
  <button class="hamburguer-button" data-menu-role="trigger-menu">
    <span class="hamburguer-button__text">
      Menu
    </span>
    <span class="hamburguer-button__item">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </button>

  <nav role="navigation" class="nav-menu" data-menu-role="nav">
    <ul class="nav-menu__list">
      {{#each items}}
        <li class="nav-menu__item{{#if modifier}} {{ modifier }}{{/if}}">
          <a href="{{ path href }}">
            {{#if icon}}
              <svg
                width="20"
                height="20"
                viewBox="{{ viewbox }}"
                xmlns="http://www.w3.org/2000/svg"
              >
                <use xlink:href="#{{ icon }}"></use>
              </svg>
              {{#if name }}
                <span>{{ name }}</span>
              {{/if}}
            {{else}}
              {{ name }}
            {{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
  </nav>
</div>  