// ------------------------------------------------------
// Title
// ------------------------------------------------------

.title-wrapper {
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: center;
  color: var(--tertiary-color);

  @include mq($from: tablet) {
    margin-bottom: 3.5rem;
    font-size: 1.125rem;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40ch;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-family: $ff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.12;
  text-align: center;
  color: var(--primary-color);

  @include mq($from: tablet) {
    font-size: 1.875rem;
  }
  @include mq($from: desktop) {
    font-size: 2rem;
  }

  > svg {
    margin-right: 1rem;
  }
}
