{{#if titleArea}}
  <header class="title-wrapper" {{{ titleAttributes }}}>
    <p class="title-area">{{ titleArea }}</p>
    <{{ titleTagName }} class="title{{#if modifier}} {{ modifier }}{{/if}}">
      {{ titleContent }}
    </{{ titleTagName }}>
  </header>
{{else}}
  <{{ titleTagName }} class="title{{#if modifier}} {{ modifier }}{{/if}}" {{{ titleAttributes }}}>
    {{#if titleIcon}}
      <svg width="46" height="46" viewBox="0 0 84 84">
        <use xlink:href="#{{ titleIcon }}"></use>
      </svg>
    {{/if}}
    {{ titleContent }}
  </{{ titleTagName }}>
{{/if}}
