// ------------------------------------------------------
// RAW TEXT
// ------------------------------------------------------

.raw-text {
  padding: 2rem 5%;
  background-color: var(--blue-100);

  @include mq($from: desktop) {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .container {
    @include wrapAnything($maxWidth: 72.5rem);
  }

  // Childs
  p {
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    color: var(--secondary-color);

    @include mq($from: desktop) {
      font-size: 1.125rem;
      line-height: 1.5;
    }
  }
}
