<section class="raw-text">
  <div class="container">
    {{#each rawTextContent}}
    <p data-aos="fade-up" data-aos-duration="350" data-aos-delay="{{ delay }}">{{{ text }}}</p>
    {{/each}}
  </div>
</section>