// Cards
// -----------------------

.cards {
  padding: 2.5rem 1rem 0;

  @include mq($from: tablet) {
    padding-top: 4.5rem;
  }

  .container {
    @include wrapAnything($maxWidth: 72.5rem);
  }

  &-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem 2rem;

    @include mq($from: tablet) {
      grid-template-columns: repeat(auto-fit, minmax(20.3125rem, 1fr));
      grid-gap: 2.125rem 3.5rem;
    }
    @include mq($from: desktop) {
      grid-gap: 3.75rem 5.75rem;
    }
  }

  &__action-wrapper {
    display: flex;
    justify-content: center;
    margin: 2.5rem -1rem 3rem;
    position: relative;

    @include mq($from: tablet) {
      margin-top: 4.5rem;
      margin-bottom: 6.25rem;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.125rem;
      background: var(--gray-100);
      position: absolute;
      top: 50%;
      z-index: z(behind);
      transform: translateY(-50%);
    }
  }
}
