// Related List (aside)
// -----------------------

.related-list {
  // Childs
  &__heading {
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    line-height: 1.12;
    color: var(--primary-color);

    @include mq($from: tablet) {
      font-size: 1.125rem;
    }
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 0.0625rem solid var(--gray-100);

    @include mq($from: tablet) {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem;
    }
  }
}
