<section class="related-list">
  <h3 class="related-list__heading" data-aos="fade-up" data-aos-duration="300">Artículos relacionados</h3>
  <ul class="related-list__list">
    {{#each related}}
      <li class="related-list__item" {{{ realtedAttributes }}}>
        {{> '@related' }}
      </li>
    {{/each}}
  </ul>
</section>