// -------------------------
// About
// -------------------------

.about-page {
  .container {
    @include wrapAnything($maxWidth: 72.5rem);
  }

  .about-content {
    padding: 2.5rem 1rem;
    overflow: hidden;

    @include mq($from: tablet) {
      padding-top: 4.25rem;
      padding-bottom: 4.25rem;
    }
  }

  .about-card-cta {
    margin-bottom: 2rem;

    @include mq($from: tablet) {
      margin-bottom: 3.5rem;
    }
  }
}
