<div class="app">
  {{ render '@header' }}

  <main role="main" class="app-content about-page">
    {{!-- HERO --}}
    {{> '@hero' }}
    
    <div class="about-content">

      <div class="container">

        <div data-aos="fade-up" data-aos-duration="400">
          <h2 class="heading">Nuestro propósito</h2>
          <p class="text">SCFGS ofrece servicios de tecnología, consultoría y procesos para Santander Consumer Finance (SCF), el negocio de financiación al consumo del rupo Santander. Cada proyecto que realizamos debe resultar óptimo y diferencial; siempre buscando sinergias y eficiencias para SCF.</p>
          <p class="text">Con el tiempo SCFGS ha evolucionado y ahora su oferta se extiende a servicios de infraestructura tecnológica, tanto On premise como Cloud, y desarrollo de aplicaciones.</p>
          <p class="text">El objetivo principal de SCFGS es brindar servicios a SCF para dar respuesta a sus necesidades actuales y futuras, con especial atención a:</p>

          <ul class="list">
            <li>
              <p>Asegurar el conocimiento interno en SCFGS con funciones clave y estructurales de la empresa.</p>
            </li>
            <li>
              <p>Contar con un sistema organizativo consistente que permita dar respuesta a las necesidades actuales y futuras de SCF (Nuevos Negocios, Plataformas / Productos Globales, Servicios Funcionales...).</p>
            </li>
            <li>
              <p>Construir una plataforma sólida para evolucionar y acompañar a SCF en las necesidades emergentes.</p>
            </li>
          </ul>
        </div>

        <div data-aos="fade-up" data-aos-duration="400">
          <h2 class="heading">Nuestros valores</h2>
          <p class="text">Como proveedores de servicios locales y globales de tecnología y operaciones del Grupo Santander, seguimos la línea de sus valores corpo-rativos, que son:</p>

          {{!-- VALUES --}}
          {{ render '@values' }}
        </div>

        <div class="about-card-cta">
          {{!-- CARD CTA --}} 
          {{ render '@card--cards-cta-row' }}
        </div>

        {{!-- COUNTERS --}}
        {{ render '@counters' }}

        <div data-aos="fade-up" data-aos-duration="400">
          <h2 class="heading">División de financiación al consumo del Grupo Santander: Santander Consumer Finance (SCF)</h2>
          <p class="text"><strong>Santander Consumer Finance (SCF)</strong>, la empresa a la que proveemos servicios, es una empresa líder en financiación al consumo presente en 15 países europeos, además de China y Canadá. Esta empresa la forman más de 15.000 profesionales especializados, ofreciendo productos y servicios líderes en financiación al consumo a más de 18,7 millones de clientes y 130.000 puntos de venta asociados (a cierre de 2020).</p>
          <p class="text"><strong>SCF</strong> ofrece una amplia gama de soluciones bancarias y de financiación al consumo, principalmente a través de puntos de venta (concesionarios y retailers), para los que Santander Consumer Finance ha desarrollado una experiencia única con canales directos al consumidor como sucursales, centros telefónicos e Internet. SCF forma parte de Santander, uno de los mayores grupos financieros del mundo.</p>
          <p class="text"><strong>SCF</strong> está presente en 17 países: Austria, Bélgica, Dinamarca, Finlandia, Francia, Alemania, Italia, Noruega, Polonia, Portugal, España, Suecia, Suiza, Holanda, UK, China y Canadá.</p>
        </div>

      </div>
    </div>

    {{!-- ENDING --}}
    {{ render '@ending' }}
  </main>

  {{ render '@footer' }}
</div>