:root {
  --white: #ffffff;
  --black: #444444;
  --gray-100: #e3e3e3;
  --gray-200: #ced0ce;
  --gray-250: #cccccc;
  --gray-300: #767676;
  --red-300: #ee0000;
  --red-400: #cb0404;
  --blue-100: #eff6f9;
  --blue-300: #36b7c0;
  --primary-color: var(--red-300);
  --primary-darken-color: var(--red-400);
  --secondary-color: var(--black);
  --tertiary-color: var(--gray-300);
  --c-error: hsl(6, 70%, 55%);
  --c-success: hsl(126, 60%, 50%);
  --wrapper-max-width: 90rem; }

@font-face {
  font-family: 'Santander Headline';
  src: url("../fonts/SantanderHeadline-Regular.woff2") format("woff2"), url("../fonts/SantanderHeadline-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: 'Santander Headline Bold';
  src: url("../fonts/SantanderHeadline-Bold.woff2") format("woff2"), url("../fonts/SantanderHeadline-Bold.woff") format("woff");
  font-weight: 700; }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

@keyframes logo {
  to {
    opacity: 1;
    transform: none; } }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
  font-family: inherit; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: "Santander Headline", serif, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100vh;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  font-size: inherit;
  color: var(--blue-100); }

abbr[title] {
  border-bottom: 0;
  text-decoration: none; }
  abbr[title] strong {
    font-family: "Santander Headline Bold", serif;
    font-weight: 700; }

strong {
  font-family: "Santander Headline Bold", serif;
  font-weight: 700; }

img,
iframe,
video {
  vertical-align: middle; }

img {
  display: block;
  width: 100%;
  height: auto; }

menu,
ul,
ol,
li,
dd {
  padding: 0;
  margin: 0;
  list-style-position: outside; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0; }

a {
  color: var(--primary-color);
  transition: color 250ms; }
  a:hover, a:focus {
    color: var(--secondary-color); }
  a:focus {
    outline-offset: 0.25rem; }

button:focus {
  outline-offset: 0.25rem; }

::-moz-selection {
  color: var(--white);
  background-color: var(--primary-color); }

::selection {
  color: var(--white);
  background-color: var(--primary-color); }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.d-none {
  display: none !important; }

.d-inline-block {
  display: inline-block !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

.wrap {
  flex-wrap: wrap !important; }

.align-start {
  align-items: flex-start !important; }

.justify-end {
  justify-content: flex-end !important; }

.justify-between {
  justify-content: space-between !important; }

.ovh {
  overflow: hidden !important; }

.ovy {
  overflow-y: hidden !important; }

.p-0 {
  padding: 0 !important; }

.m-0 {
  margin: 0 !important; }

.pt-0 {
  padding-top: 0 !important; }

.mt-0 {
  margin-top: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.mr-0 {
  margin-right: 0 !important; }

.pb-0 {
  padding-bottom: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.ml-0 {
  margin-left: 0 !important; }

.p-0-5 {
  padding: 0.5rem !important; }

.m-0-5 {
  margin: 0.5rem !important; }

.pt-0-5 {
  padding-top: 0.5rem !important; }

.mt-0-5 {
  margin-top: 0.5rem !important; }

.pr-0-5 {
  padding-right: 0.5rem !important; }

.mr-0-5 {
  margin-right: 0.5rem !important; }

.pb-0-5 {
  padding-bottom: 0.5rem !important; }

.mb-0-5 {
  margin-bottom: 0.5rem !important; }

.pl-0-5 {
  padding-left: 0.5rem !important; }

.ml-0-5 {
  margin-left: 0.5rem !important; }

.p-1 {
  padding: 1rem !important; }

.m-1 {
  margin: 1rem !important; }

.pt-1 {
  padding-top: 1rem !important; }

.mt-1 {
  margin-top: 1rem !important; }

.pr-1 {
  padding-right: 1rem !important; }

.mr-1 {
  margin-right: 1rem !important; }

.pb-1 {
  padding-bottom: 1rem !important; }

.mb-1 {
  margin-bottom: 1rem !important; }

.pl-1 {
  padding-left: 1rem !important; }

.ml-1 {
  margin-left: 1rem !important; }

.p-1-5 {
  padding: 1.5rem !important; }

.m-1-5 {
  margin: 1.5rem !important; }

.pt-1-5 {
  padding-top: 1.5rem !important; }

.mt-1-5 {
  margin-top: 1.5rem !important; }

.pr-1-5 {
  padding-right: 1.5rem !important; }

.mr-1-5 {
  margin-right: 1.5rem !important; }

.pb-1-5 {
  padding-bottom: 1.5rem !important; }

.mb-1-5 {
  margin-bottom: 1.5rem !important; }

.pl-1-5 {
  padding-left: 1.5rem !important; }

.ml-1-5 {
  margin-left: 1.5rem !important; }

.p-2 {
  padding: 2rem !important; }

.m-2 {
  margin: 2rem !important; }

.pt-2 {
  padding-top: 2rem !important; }

.mt-2 {
  margin-top: 2rem !important; }

.pr-2 {
  padding-right: 2rem !important; }

.mr-2 {
  margin-right: 2rem !important; }

.pb-2 {
  padding-bottom: 2rem !important; }

.mb-2 {
  margin-bottom: 2rem !important; }

.pl-2 {
  padding-left: 2rem !important; }

.ml-2 {
  margin-left: 2rem !important; }

.p-2-5 {
  padding: 2.5rem !important; }

.m-2-5 {
  margin: 2.5rem !important; }

.pt-2-5 {
  padding-top: 2.5rem !important; }

.mt-2-5 {
  margin-top: 2.5rem !important; }

.pr-2-5 {
  padding-right: 2.5rem !important; }

.mr-2-5 {
  margin-right: 2.5rem !important; }

.pb-2-5 {
  padding-bottom: 2.5rem !important; }

.mb-2-5 {
  margin-bottom: 2.5rem !important; }

.pl-2-5 {
  padding-left: 2.5rem !important; }

.ml-2-5 {
  margin-left: 2.5rem !important; }

.p-3 {
  padding: 3rem !important; }

.m-3 {
  margin: 3rem !important; }

.pt-3 {
  padding-top: 3rem !important; }

.mt-3 {
  margin-top: 3rem !important; }

.pr-3 {
  padding-right: 3rem !important; }

.mr-3 {
  margin-right: 3rem !important; }

.pb-3 {
  padding-bottom: 3rem !important; }

.mb-3 {
  margin-bottom: 3rem !important; }

.pl-3 {
  padding-left: 3rem !important; }

.ml-3 {
  margin-left: 3rem !important; }

.p-3-5 {
  padding: 3.5rem !important; }

.m-3-5 {
  margin: 3.5rem !important; }

.pt-3-5 {
  padding-top: 3.5rem !important; }

.mt-3-5 {
  margin-top: 3.5rem !important; }

.pr-3-5 {
  padding-right: 3.5rem !important; }

.mr-3-5 {
  margin-right: 3.5rem !important; }

.pb-3-5 {
  padding-bottom: 3.5rem !important; }

.mb-3-5 {
  margin-bottom: 3.5rem !important; }

.pl-3-5 {
  padding-left: 3.5rem !important; }

.ml-3-5 {
  margin-left: 3.5rem !important; }

.no-events {
  pointer-events: none !important; }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms; }

@media print {
  @page {
    size: 210mm 297mm;
    margin: 10mm; }
  body {
    margin: 0px;
    -webkit-print-color-adjust: exact !important; } }

body.is-locked {
  overflow: hidden; }

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: var(--primary-color); }
  .spinner__icon {
    width: 4rem;
    height: 4rem;
    color: var(--secondary-color);
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
    transform-origin: center;
    animation: show 1000ms ease-in 1 forwards, opacity 2000ms ease-in 1000ms infinite forwards; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Santander Headline Bold", serif;
  line-height: 1.12;
  color: var(--secondary-color); }

h1 {
  margin-bottom: 2rem;
  font-size: 2rem; }
  @media screen and (min-width: 48em) {
    h1 {
      margin-bottom: 2.25rem;
      font-size: 2.25rem; } }

h2 {
  margin-bottom: 1.875rem;
  font-size: 1.875rem; }
  @media screen and (min-width: 48em) {
    h2 {
      margin-bottom: 2rem;
      font-size: 2rem; } }

h3 {
  margin-bottom: 1.75rem;
  font-size: 1.75rem; }
  @media screen and (min-width: 48em) {
    h3 {
      margin-bottom: 1.875rem;
      font-size: 1.875rem; } }

h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem; }
  @media screen and (min-width: 48em) {
    h4 {
      margin-bottom: 1.75rem;
      font-size: 1.75rem; } }

h5 {
  margin-bottom: 1.25rem;
  font-size: 1.25rem; }
  @media screen and (min-width: 48em) {
    h5 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem; } }

h6 {
  margin-bottom: 1.125rem;
  font-size: 1.125rem; }
  @media screen and (min-width: 48em) {
    h6 {
      margin-bottom: 1.25rem;
      font-size: 1.25rem; } }

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--secondary-color); }
  @media screen and (min-width: 48em) {
    p {
      font-size: 1.125rem;
      line-height: 1.5; } }
  p:last-of-type {
    margin-bottom: 0; }

time {
  display: block;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  color: var(--tertiary-color); }
  @media screen and (min-width: 112.5em) {
    time {
      font-size: 1rem; } }

ul.list {
  list-style-type: none;
  padding-left: 2rem;
  margin-bottom: 3rem; }
  ul.list li {
    position: relative;
    font-family: "Santander Headline", serif;
    padding-left: 1rem;
    margin-bottom: 1.5rem; }
    ul.list li::before {
      content: '';
      display: block;
      width: 0.3rem;
      height: 0.3rem;
      background-color: var(--primary-color);
      border-radius: 10rem;
      position: absolute;
      top: 0.75rem;
      left: 0; }

.heading {
  max-width: 45ch;
  font-family: "Santander Headline", serif;
  font-weight: 400;
  font-size: 1.75rem;
  color: var(--primary-color); }
  @media screen and (min-width: 48em) {
    .heading {
      font-size: 2rem; } }

.button, .button--secondary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 2rem;
  border-radius: 2rem;
  font-family: "Santander Headline Bold", serif;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms ease-in; }
  @media screen and (min-width: 48em) {
    .button, .button--secondary {
      padding-left: 2.5rem;
      padding-right: 2.5rem; } }
  .button[disabled], .button--secondary[disabled] {
    pointer-events: none;
    opacity: 0.6; }

.button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--white); }
  .button:hover, .button:focus {
    color: var(--white);
    background-color: var(--primary-color); }

.button--secondary {
  border: 1px solid var(--primary-color);
  color: var(--white);
  background-color: var(--primary-color); }
  .button--secondary:hover, .button--secondary:focus {
    background-color: var(--primary-darken-color);
    border-color: var(--primary-darken-color); }

.back-button {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 300ms ease-in; }
  .back-button:hover, .back-button:focus {
    color: var(--primary-darken-color); }
    .back-button:hover > svg, .back-button:focus > svg {
      transform: translateX(-0.25rem); }
  .back-button > svg {
    margin-right: 0.5rem;
    transition: transform 150ms ease-in; }

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  padding-left: 5%;
  padding-right: 5%;
  position: relative; }
  @media screen and (min-width: 48em) {
    .banner {
      height: 18rem; } }
  @media screen and (min-width: 64em) {
    .banner {
      height: 25rem; } }
  @media screen and (min-width: 48em) {
    .banner--large {
      height: 22rem; } }
  @media screen and (min-width: 64em) {
    .banner--large {
      height: 28rem; } }
  @media screen and (min-width: 80em) {
    .banner--large {
      height: 36.25rem; } }
  .banner__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .banner__heading {
    max-width: 25ch;
    font-size: 1.75rem;
    line-height: 1.2;
    text-align: center;
    color: var(--white);
    text-shadow: 0.1875rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.5); }
    @media screen and (min-width: 48em) {
      .banner__heading {
        font-size: 2rem; } }
    @media screen and (min-width: 64em) {
      .banner__heading {
        font-size: 3rem;
        line-height: 1.25; } }

.image {
  height: 15.625rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  @media screen and (min-width: 48em) {
    .image {
      margin-top: 3rem;
      margin-bottom: 3rem; } }
  @media screen and (min-width: 64em) {
    .image {
      margin-top: 3.375rem;
      margin-bottom: 3.375rem; } }
  .image > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem; }
  .image > figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: var(--secondary-color); }

.logo > * {
  display: block;
  opacity: 0;
  transform: translateY(1rem) scale(0.9);
  animation: logo 400ms cubic-bezier(0.59, 0.95, 0.66, 1.25) forwards; }

#map {
  height: 22rem; }
  @media screen and (min-width: 48em) {
    #map {
      height: 30rem; } }
  @media screen and (min-width: 64em) {
    #map {
      height: 37.5rem; } }

.raw-text {
  padding: 2rem 5%;
  background-color: var(--blue-100); }
  @media screen and (min-width: 64em) {
    .raw-text {
      padding-top: 3.125rem;
      padding-bottom: 3.125rem; } }
  .raw-text .container {
    max-width: 72.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .raw-text p {
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    color: var(--secondary-color); }
    @media screen and (min-width: 64em) {
      .raw-text p {
        font-size: 1.125rem;
        line-height: 1.5; } }

.share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin-top: 2.5rem;
  border-bottom: 0.0625rem solid var(--gray-100); }
  @media screen and (min-width: 48em) {
    .share {
      margin-top: 4.5rem; } }
  .share__label {
    font-size: 1rem;
    text-decoration: none;
    color: var(--primary-color); }
  .share__list {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 0.5rem; }
  .share__item {
    margin-left: 1.25rem; }
  .share__link {
    display: block;
    height: 1.875rem; }
    .share__link:hover, .share__link:focus {
      color: var(--primary-darken-color); }
      .share__link:hover > svg, .share__link:focus > svg {
        transform: translateY(-0.125rem); }
    .share__link > svg {
      transition: transform 150ms ease-in; }

.title-wrapper {
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: center;
  color: var(--tertiary-color); }
  @media screen and (min-width: 48em) {
    .title-wrapper {
      margin-bottom: 3.5rem;
      font-size: 1.125rem; } }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40ch;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-family: "Santander Headline", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.12;
  text-align: center;
  color: var(--primary-color); }
  @media screen and (min-width: 48em) {
    .title {
      font-size: 1.875rem; } }
  @media screen and (min-width: 64em) {
    .title {
      font-size: 2rem; } }
  .title > svg {
    margin-right: 1rem; }

.address {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 48em) {
    .address {
      flex-direction: row-reverse; } }
  @media screen and (min-width: 48em) {
    .address-header {
      flex: 0 0 50%;
      height: 12rem; } }
  @media screen and (min-width: 48em) {
    .address-header {
      height: 16rem; } }
  @media screen and (min-width: 64em) {
    .address-header {
      height: 20rem; } }
  .address-body {
    padding-top: 1.5rem; }
    @media screen and (min-width: 48em) {
      .address-body {
        flex: 0 0 50%;
        padding-top: 2rem;
        padding-right: 3rem; } }
  .address__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: all 300ms ease-in; }
  .address__heading {
    margin-bottom: 1.25rem;
    font-family: "Santander Headline", serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.12;
    color: var(--primary-color); }
    @media screen and (min-width: 48em) {
      .address__heading {
        margin-bottom: 1.5rem;
        font-size: 1.75rem; } }
  .address__text {
    margin-bottom: 1.5rem;
    font-style: normal;
    line-height: 1.5;
    color: var(--secondary-color); }
    @media screen and (min-width: 48em) {
      .address__text {
        margin-bottom: 1.875rem;
        font-size: 1.125rem; } }

.card {
  position: relative; }
  .card-header {
    margin-bottom: 1.5rem; }
    @media screen and (min-width: 48em) {
      .card-header {
        margin-bottom: 2rem; } }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .card__img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: all 300ms ease-in; }
    @media screen and (min-width: 48em) {
      .card__img {
        height: 15.625rem; } }
  .card__date {
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
    color: var(--tertiary-color); }
    @media screen and (min-width: 48em) {
      .card__date {
        margin-bottom: 0.75rem;
        font-size: 1rem; } }
  .card__heading {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.12;
    color: var(--secondary-color); }
    @media screen and (min-width: 48em) {
      .card__heading {
        font-size: 1.5rem; } }
  .card__title {
    margin-bottom: 1.5rem;
    font-family: "Santander Headline", serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.12;
    color: var(--primary-color); }
    @media screen and (min-width: 48em) {
      .card__title {
        margin-bottom: 2.5rem;
        font-size: 1.5rem; } }
    @media screen and (min-width: 64em) {
      .card__title {
        font-size: 1.75rem; } }
  .card__link {
    display: flex;
    align-items: baseline;
    margin-top: auto;
    font-family: "Santander Headline Bold", serif;
    font-size: 0.875rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 300ms ease-in; }
    @media screen and (min-width: 48em) {
      .card__link {
        font-size: 1rem; } }
    .card__link::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .card__link:hover, .card__link:focus {
      color: var(--primary-darken-color); }
      .card__link:hover > span::before, .card__link:focus > span::before {
        transform: scaleX(1); }
    .card__link > span {
      position: relative; }
      .card__link > span::before {
        content: '';
        width: 100%;
        height: 0.125rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, var(--primary-color), var(--primary-darken-color), var(--primary-color));
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms ease-in; }
    .card__link > svg {
      margin-left: 0.375rem; }
  .card:hover .card__img {
    filter: grayscale(50%); }

.card--work .card__heading {
  margin-bottom: 0.625rem;
  font-family: "Santander Headline", serif;
  font-weight: 400; }
  @media screen and (min-width: 64em) {
    .card--work .card__heading {
      font-size: 1.75rem; } }

.card--services .card__heading {
  font-family: "Santander Headline", serif;
  font-weight: 400; }
  @media screen and (min-width: 64em) {
    .card--services .card__heading {
      font-size: 1.75rem; } }

@media screen and (min-width: 48em) {
  .card--cta-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: center; } }

@media screen and (min-width: 48em) {
  .card--cta-row .card-header {
    flex: 0 0 20rem;
    margin-bottom: 0; } }

@media screen and (min-width: 64em) {
  .card--cta-row .card-header {
    flex: 0 0 35rem; } }

@media screen and (min-width: 48em) {
  .card--cta-row .card-body {
    flex-grow: 1;
    padding-right: 2rem; } }

@media screen and (min-width: 64em) {
  .card--cta-row .card__img {
    height: 20rem; } }

.contact {
  background-color: var(--blue-100);
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--blue-100); }
  .contact::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    background-color: var(--blue-100); }
  @media screen and (min-width: 48em) {
    .contact {
      display: flex;
      align-items: center; } }
  .contact__img {
    width: 100%;
    max-width: 30rem;
    height: auto;
    margin: 0 auto; }
    @media screen and (min-width: 48em) {
      .contact__img {
        width: 50%;
        margin-left: 0;
        margin-right: 4rem; } }
    @media screen and (min-width: 64em) {
      .contact__img {
        margin-left: 3rem;
        margin-right: 6rem; } }
  .contact__info {
    padding-top: 2rem; }
    @media screen and (min-width: 64em) {
      .contact__info {
        padding-right: 4rem; } }
  .contact__title {
    margin-bottom: 1.5rem;
    font-family: "Santander Headline", serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--primary-color); }
    @media screen and (min-width: 48em) {
      .contact__title {
        margin-bottom: 2rem;
        font-size: 1.5rem; } }
    @media screen and (min-width: 64em) {
      .contact__title {
        font-size: 1.75rem; } }
  .contact__address {
    font-size: 1rem;
    font-style: normal;
    color: var(--secondary-color); }
    @media screen and (min-width: 48em) {
      .contact__address {
        font-size: 1.125rem; } }
  .contact .aos-animate .circle {
    transform-origin: 50%;
    animation: rotate 50000ms infinite forwards linear; }

.counters {
  background-color: var(--blue-100);
  position: relative;
  padding: 3.75rem 1rem;
  margin-bottom: 2rem; }
  .counters::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    background-color: var(--blue-100); }
  @media screen and (min-width: 48em) {
    .counters {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
      margin-bottom: 3.5rem; } }
  .counters .container {
    max-width: 64rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 2rem; }

.counter {
  text-align: center; }
  .counter__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    margin-bottom: 2.5rem;
    border-radius: 50%;
    background-color: var(--white); }
    @media screen and (min-width: 48em) {
      .counter__icon {
        width: 9.25rem;
        height: 9.25rem; } }
  .counter__label {
    font-weight: 400;
    font-size: 1rem; }
    @media screen and (min-width: 48em) {
      .counter__label {
        font-size: 1.125rem; } }
    .counter__label > span {
      display: block;
      margin-bottom: 0.625rem;
      color: var(--secondary-color); }
    .counter__label > strong {
      font-size: 3.25rem;
      line-height: 1;
      color: var(--primary-color); }

.download {
  padding-top: 2rem;
  padding-bottom: 3.5rem; }
  @media screen and (min-width: 48em) {
    .download {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      padding-top: 3rem;
      padding-bottom: 5.25rem; } }
  @media screen and (min-width: 64em) {
    .download {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media screen and (min-width: 75em) {
    .download {
      padding-left: 7rem; } }
  .download__img {
    max-width: 32.75rem;
    margin: 0 auto; }
    @media screen and (min-width: 48em) {
      .download__img {
        width: 50%; } }
  .download__info {
    padding-right: 2rem; }
    @media screen and (min-width: 64em) {
      .download__info {
        padding-right: 4rem; } }
  .download__title {
    margin-bottom: 1.5rem;
    font-family: "Santander Headline", serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.25;
    color: var(--primary-color); }
    @media screen and (min-width: 48em) {
      .download__title {
        margin-bottom: 2.5rem;
        font-size: 1.5rem; } }
    @media screen and (min-width: 64em) {
      .download__title {
        font-size: 1.75rem; } }
  .download__link {
    display: flex;
    align-items: baseline;
    margin-top: auto;
    font-family: "Santander Headline Bold", serif;
    font-size: 0.875rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 300ms ease-in; }
    @media screen and (min-width: 48em) {
      .download__link {
        font-size: 1rem; } }
    .download__link:hover, .download__link:focus {
      color: var(--primary-darken-color); }
      .download__link:hover > span::before, .download__link:focus > span::before {
        transform: scaleX(1); }
    .download__link > span {
      position: relative; }
      .download__link > span::before {
        content: '';
        width: 100%;
        height: 0.125rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, var(--primary-color), var(--primary-darken-color), var(--primary-color));
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms ease-in; }
    .download__link > svg {
      margin-left: 0.375rem; }

.ending {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: url("../images/about-ending.jpg") no-repeat center/cover; }
  @media screen and (min-width: 48em) {
    .ending {
      min-height: 28rem; } }
  @media screen and (min-width: 64em) {
    .ending {
      min-height: 31.25rem; } }
  .ending .container {
    max-width: 70rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%; }
  .ending__text {
    font-size: 1.5rem;
    text-align: center;
    color: var(--white); }
    @media screen and (min-width: 48em) {
      .ending__text {
        font-size: 1.75rem; } }
    @media screen and (min-width: 64em) {
      .ending__text {
        font-size: 2rem; } }
    .ending__text + .ending__text {
      margin-top: 2rem; }

body.nav-is-open {
  overflow-y: hidden !important; }
  body.nav-is-open .backdrop {
    visibility: visible;
    opacity: 1;
    transition: all 300ms cubic-bezier(0.34, -0.01, 0.51, 1); }
    @media screen and (min-width: 75em) {
      body.nav-is-open .backdrop {
        visibility: hidden;
        opacity: 0; } }

.nav {
  flex: 1 1 0;
  position: relative;
  display: flex;
  justify-content: flex-end; }
  .nav .hamburguer-button {
    display: flex;
    align-items: center;
    padding: 0;
    border: 0;
    color: var(--primary-color);
    background-color: transparent;
    position: relative;
    z-index: 2; }
    @media screen and (min-width: 75em) {
      .nav .hamburguer-button {
        display: none; } }
    .nav .hamburguer-button__text {
      margin-right: 0.25rem; }
    .nav .hamburguer-button__item > span {
      display: block;
      width: 1.875rem;
      height: 0.25rem;
      margin-bottom: 5px;
      position: relative;
      background: currentColor;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 0.25rem 0px;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
      .nav .hamburguer-button__item > span:first-child {
        transform-origin: 0% 0%; }
      .nav .hamburguer-button__item > span:nth-last-child(3) {
        transform-origin: 0% 100%; }
      .nav .hamburguer-button__item > span:nth-last-child(1) {
        margin-bottom: 0; }
      .nav-is-open .nav .hamburguer-button__item > span {
        opacity: 1;
        transform: rotate(45deg) translate(0, -2px); }
        .nav-is-open .nav .hamburguer-button__item > span:nth-last-child(2) {
          opacity: 0;
          transform: rotate(0deg) scale(0.2, 0.2); }
        .nav-is-open .nav .hamburguer-button__item > span:nth-last-child(1) {
          transform: rotate(-45deg) translate(0, 0); }
  .nav-menu {
    width: 90%;
    height: 100vh;
    max-width: 20rem;
    justify-content: flex-end;
    padding: 1.25rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: var(--white);
    transform: translateX(100%);
    transition: transform 150ms; }
    @media screen and (min-width: 75em) {
      .nav-menu {
        display: flex;
        width: 100%;
        height: auto;
        max-width: initial;
        padding: 0;
        position: relative;
        transform: none;
        background: var(--white); } }
    .nav-menu.is-open {
      transform: none;
      transition: transform 300ms cubic-bezier(0.34, -0.01, 0.51, 1); }
    .nav-menu__list {
      padding: 0;
      list-style: none;
      position: relative;
      display: block;
      margin-top: 4rem; }
      @media screen and (min-width: 75em) {
        .nav-menu__list {
          display: flex;
          text-align: center;
          align-items: center;
          margin-top: 0; } }
    .nav-menu__item {
      list-style-type: none; }
      @media screen and (min-width: 75em) {
        .nav-menu__item {
          display: flex;
          align-items: center; } }
      .nav-menu__item a {
        display: block;
        padding: 1rem;
        font-size: 1rem;
        text-decoration: none;
        line-height: 1.25;
        color: var(--secondary-color); }
        .nav-menu__item a:focus, .nav-menu__item a:hover {
          color: var(--primary-color); }
        @media screen and (min-width: 80em) {
          .nav-menu__item a {
            font-size: 1.125rem; } }
        @media screen and (min-width: 90em) {
          .nav-menu__item a {
            padding-left: 1.5rem;
            padding-right: 1.5rem; } }
      .nav-menu__item::before {
        display: none; }
      .nav-menu__item--work a, .nav-menu__item--in a, .nav-menu__item--lang a {
        display: flex;
        align-items: center; }
        @media screen and (min-width: 80em) {
          .nav-menu__item--work a, .nav-menu__item--in a, .nav-menu__item--lang a {
            border-left: 0.0625rem solid var(--gray-100); } }
      .nav-menu__item--work span, .nav-menu__item--in span, .nav-menu__item--lang span {
        margin-left: 0.5rem; }
      .nav-menu__item--in a {
        padding-top: 1.125rem;
        padding-bottom: 1.125rem; }

.related {
  display: flex;
  align-items: flex-start;
  position: relative; }
  .related-header {
    margin-right: 1.25rem; }
  .related__img {
    width: 7.8125rem;
    height: 7.8125rem;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: all 300ms ease-in; }
  .related__date {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--tertiary-color); }
  .related__heading {
    margin-bottom: 0.625rem;
    font-size: 1.125rem;
    line-height: 1.12;
    color: var(--secondary-color); }
  .related__link {
    display: flex;
    align-items: baseline;
    font-family: "Santander Headline Bold", serif;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 300ms ease-in; }
    .related__link::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .related__link:hover, .related__link:focus {
      color: var(--primary-darken-color); }
      .related__link:hover > span::before, .related__link:focus > span::before {
        transform: scaleX(1); }
    .related__link > span {
      position: relative; }
      .related__link > span::before {
        content: '';
        width: 100%;
        height: 0.125rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(to right, var(--primary-color), var(--primary-darken-color), var(--primary-color));
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms ease-in; }
    .related__link > svg {
      margin-left: 0.375rem; }
  .related:hover .related__img {
    filter: grayscale(50%); }

.search {
  padding: 1rem;
  border-bottom: 0.0625rem solid var(--gray-100); }
  @media screen and (min-width: 48em) {
    .search {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; } }
  .search .container {
    max-width: 45rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .search-form {
    display: flex;
    align-items: center; }
    .search-form__icon {
      width: 1.25rem;
      height: 1.25rem; }
      @media screen and (min-width: 48em) {
        .search-form__icon {
          width: 2.25rem;
          height: 2.25rem; } }
    .search-form__input {
      flex-grow: 1;
      padding: 0.5rem;
      border: 0;
      color: var(--gray-300); }
      .search-form__input:focus {
        outline-color: var(--primary-color); }
      .search-form__input::placeholder {
        color: var(--gray-250); }
    .search-form__button {
      display: flex;
      padding: 0.375rem 0.9375rem;
      border: 0;
      color: var(--primary-color);
      background-color: transparent;
      transition: color 200ms ease-in-out; }
      .search-form__button:hover, .search-form__button:focus {
        color: var(--primary-darken-color); }

.service {
  padding: 2.5rem 1rem 2rem;
  border-radius: 1.25rem;
  text-align: center;
  color: var(--blue-300);
  box-shadow: 0 1.25rem 2rem 0 rgba(0, 0, 0, 0);
  transition: all 200ms; }
  @media screen and (min-width: 64em) {
    .service {
      padding-left: 1.5rem;
      padding-right: 1.5rem; } }
  .service:hover {
    transition: box-shadow 150ms cubic-bezier(0.66, 0.42, 0.9, 0.65), transform 300ms cubic-bezier(0.43, 1.13, 0.52, 1.16);
    box-shadow: 0 1.25rem 2rem 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.1); }
  .service__icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto 1.5rem; }
    @media screen and (min-width: 48em) {
      .service__icon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1.875rem; } }
  .service__heading {
    margin-bottom: 0;
    font-family: "Santander Headline Bold", serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    color: inherit; }

.slider .flickity-prev-next-button {
  background: rgba(255, 255, 255, 0);
  color: #fff; }
  .slider .flickity-prev-next-button:hover, .slider .flickity-prev-next-button:focus {
    background: rgba(255, 255, 255, 0); }
  @media screen and (min-width: 64em) {
    .slider .flickity-prev-next-button.previous {
      left: 10%; } }
  @media screen and (min-width: 64em) {
    .slider .flickity-prev-next-button.next {
      right: 10%; } }

.slider .flickity-page-dots {
  width: 20rem;
  left: 50%;
  transform: translateX(-50%); }
  @media screen and (min-width: 48em) {
    .slider .flickity-page-dots {
      bottom: 52px; } }
  .slider .flickity-page-dots .dot {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.25rem; }
    .slider .flickity-page-dots .dot.is-selected {
      background: var(--primary-color); }

.slide {
  width: 100%;
  position: relative; }
  .slide > img,
  .slide > video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .slide__title {
    max-width: 25ch;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: var(--white);
    text-shadow: 0.1875rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (min-width: 48em) {
      .slide__title {
        font-size: 2rem; } }
    @media screen and (min-width: 64em) {
      .slide__title {
        font-size: 3rem;
        line-height: 1.25; } }
  .slide-video {
    height: 0;
    padding-top: 56.25%; }
    .slide-video > video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .slide-video__play {
      display: block;
      padding: 0;
      border: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      background-color: transparent;
      transform: translate(-50%, -50%);
      transition: transform 100ms ease-in; }
      .slide-video__play:hover, .slide-video__play:focus {
        transition: transform 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: translate(-50%, -50%) scale(1.2); }
      .slide-video__play > svg {
        pointer-events: none; }

.values {
  margin: 3rem auto;
  max-width: 57.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem 1.875rem; }
  @media screen and (min-width: 48em) {
    .values {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem 2rem; } }

.value {
  padding: 2rem;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 64em) {
    .value {
      padding: 2.5rem 0rem 2rem; } }
  .value__content {
    position: relative;
    z-index: 1; }
  .value__icon {
    display: block;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    color: var(--white); }
    @media screen and (min-width: 64em) {
      .value__icon {
        width: 7rem;
        height: 7rem; } }
  .value__heading {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--blue-300); }
    @media screen and (min-width: 48em) {
      .value__heading {
        font-size: 1.5rem; } }

.cards {
  padding: 2.5rem 1rem 0; }
  @media screen and (min-width: 48em) {
    .cards {
      padding-top: 4.5rem; } }
  .cards .container {
    max-width: 72.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem 2rem; }
    @media screen and (min-width: 48em) {
      .cards-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(20.3125rem, 1fr));
        grid-gap: 2.125rem 3.5rem; } }
    @media screen and (min-width: 64em) {
      .cards-wrapper {
        grid-gap: 3.75rem 5.75rem; } }
  .cards__action-wrapper {
    display: flex;
    justify-content: center;
    margin: 2.5rem -1rem 3rem;
    position: relative; }
    @media screen and (min-width: 48em) {
      .cards__action-wrapper {
        margin-top: 4.5rem;
        margin-bottom: 6.25rem; } }
    .cards__action-wrapper::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.125rem;
      background: var(--gray-100);
      position: absolute;
      top: 50%;
      z-index: -1;
      transform: translateY(-50%); }

.cards {
  padding: 2.5rem 1rem 0; }
  @media screen and (min-width: 48em) {
    .cards {
      padding-top: 4.5rem; } }
  .cards .container {
    max-width: 72.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5rem 2rem; }
    @media screen and (min-width: 48em) {
      .cards-wrapper {
        grid-template-columns: repeat(auto-fit, minmax(20.3125rem, 1fr));
        grid-gap: 2.125rem 3.5rem; } }
    @media screen and (min-width: 64em) {
      .cards-wrapper {
        grid-gap: 3.75rem 5.75rem; } }
  .cards__action-wrapper {
    display: flex;
    justify-content: center;
    margin: 2.5rem -1rem 3rem;
    position: relative; }
    @media screen and (min-width: 48em) {
      .cards__action-wrapper {
        margin-top: 4.5rem;
        margin-bottom: 6.25rem; } }
    .cards__action-wrapper::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.125rem;
      background: var(--gray-100);
      position: absolute;
      top: 50%;
      z-index: -1;
      transform: translateY(-50%); }

.footer {
  padding: 3.75rem 1rem;
  background-color: var(--secondary-color); }
  .footer .container {
    max-width: var(--wrapper-max-width);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .footer__list {
    list-style-type: none; }
    @media screen and (min-width: 48em) {
      .footer__list {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline; } }
  .footer__item {
    font-size: 1rem;
    color: var(--white); }
    @media screen and (min-width: 64em) {
      .footer__item {
        font-size: 1.125rem; } }
    .footer__item:not(:last-child) {
      margin-bottom: 0.375rem; }
      @media screen and (min-width: 48em) {
        .footer__item:not(:last-child) {
          margin-right: 1.25rem; } }
      @media screen and (min-width: 80em) {
        .footer__item:not(:last-child) {
          margin-right: 2.75rem; } }
    .footer__item::before {
      display: none; }
    @media screen and (min-width: 48em) {
      .footer__item--logo {
        margin-right: 2rem; } }
    @media screen and (min-width: 80em) {
      .footer__item--logo {
        margin-right: 4rem; } }
    .footer__item--copy {
      margin-top: 2rem;
      margin-bottom: 0; }
      @media screen and (min-width: 48em) {
        .footer__item--copy {
          flex: 0 0 100%; } }
      @media screen and (min-width: 64em) {
        .footer__item--copy {
          flex: 0 0 auto;
          margin-top: 0;
          margin-left: auto; } }
  .footer__link {
    color: inherit;
    text-decoration: none; }
    .footer__link > strong {
      font-size: 1.25rem; }
    .footer__link:hover, .footer__link:focus {
      color: var(--gray-200); }

.app-header {
  padding: 1rem;
  background-color: var(--white); }
  .app-header .container {
    max-width: var(--wrapper-max-width);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center; }
    .app-header .container .logo {
      flex: 0 0 14rem;
      max-width: 15rem;
      min-width: 12rem; }
      @media screen and (min-width: 90em) {
        .app-header .container .logo {
          margin-left: 1.5rem; } }

.related-list__heading {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  line-height: 1.12;
  color: var(--primary-color); }
  @media screen and (min-width: 48em) {
    .related-list__heading {
      font-size: 1.125rem; } }

.related-list__list {
  list-style-type: none; }

.related-list__item {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid var(--gray-100); }
  @media screen and (min-width: 48em) {
    .related-list__item {
      padding-top: 1.875rem;
      padding-bottom: 1.875rem; } }

@media screen and (min-width: 48em) {
  .services-list .card__img {
    height: 20rem; } }

.services-list .title {
  margin-bottom: 2.5rem; }

.services-list .card__heading {
  font-family: "Santander Headline", serif;
  font-weight: 400; }

.services-list--1col {
  padding: 2.5rem 0 3rem 0;
  position: relative; }
  @media screen and (min-width: 48em) {
    .services-list--1col .services-list__content .card--services {
      display: flex;
      justify-content: center; } }
  @media screen and (min-width: 48em) {
    .services-list--1col .services-list__content .card-header {
      flex: 0 1 35rem; } }
  @media screen and (min-width: 48em) {
    .services-list--1col .services-list__content .card-body {
      flex: 1 1 50%;
      padding-left: 2rem; } }

.services-list--2col {
  padding: 0rem 0 3rem 0;
  position: relative; }
  .services-list--2col .services-list__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem; }
    @media screen and (min-width: 48em) {
      .services-list--2col .services-list__content {
        grid-template-columns: 1fr 1fr; } }

.services-list--3col {
  padding: 2.5rem 0 4rem 0;
  position: relative; }
  .services-list--3col::before {
    content: '';
    width: 100vw;
    height: 100%;
    margin-left: calc(50% - 50vw);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--blue-100);
    z-index: -1; }
  .services-list--3col .services-list__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22.1875rem, 1fr));
    grid-gap: 2rem; }

@media screen and (min-width: 48em) {
  .services .title-wrapper {
    margin-bottom: 3rem; } }

.services-wrapper {
  max-width: 58rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  gap: 1rem;
  width: 85%;
  justify-content: center;
  margin-bottom: 2.5rem; }
  @media screen and (min-width: 48em) {
    .services-wrapper {
      gap: 2rem;
      margin-bottom: 3.5rem; } }
  @media screen and (min-width: 64em) {
    .services-wrapper {
      grid-template-columns: 14rem 18rem 14rem; } }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.home-page .container {
  max-width: 72.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }

.home-page .home-content {
  padding: 2.5rem 1rem 0;
  overflow: hidden; }
  @media screen and (min-width: 48em) {
    .home-page .home-content {
      padding-top: 4.25rem; } }

.home-page .home-cards-cta {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-bottom: 2rem; }
  @media screen and (min-width: 48em) {
    .home-page .home-cards-cta {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 3.5rem; } }

.home-page .articles {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative; }
  @media screen and (min-width: 48em) {
    .home-page .articles {
      padding-top: 3.5rem;
      padding-bottom: 3.5rem; } }
  .home-page .articles::before, .home-page .articles::after {
    content: '';
    display: block;
    width: 100vw;
    height: 0.0625rem;
    background-color: var(--gray-100);
    position: absolute;
    left: calc(50% - 50vw); }
  .home-page .articles::before {
    top: 0; }
  .home-page .articles::after {
    bottom: 0; }

.about-page .container {
  max-width: 72.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }

.about-page .about-content {
  padding: 2.5rem 1rem;
  overflow: hidden; }
  @media screen and (min-width: 48em) {
    .about-page .about-content {
      padding-top: 4.25rem;
      padding-bottom: 4.25rem; } }

.about-page .about-card-cta {
  margin-bottom: 2rem; }
  @media screen and (min-width: 48em) {
    .about-page .about-card-cta {
      margin-bottom: 3.5rem; } }

.services-page .container {
  max-width: 72.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }

.services-page .services-content {
  padding: 2.5rem 1rem;
  overflow: hidden; }
  @media screen and (min-width: 48em) {
    .services-page .services-content {
      padding-top: 4.25rem;
      padding-bottom: 4.25rem; } }

.contact-page .container {
  max-width: 72.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }

.contact-page .contact-content {
  padding: 2.5rem 1rem; }
  @media screen and (min-width: 48em) {
    .contact-page .contact-content {
      padding-top: 4.25rem;
      padding-bottom: 4.25rem; } }

.work-page .container {
  max-width: 72.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto; }

.work-page .work-content {
  padding: 2.5rem 1rem; }
  @media screen and (min-width: 48em) {
    .work-page .work-content {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem; } }
  @media screen and (min-width: 64em) {
    .work-page .work-content {
      padding-bottom: 5.625rem; } }

.work-page .work-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem; }
  @media screen and (min-width: 48em) {
    .work-page .work-cards {
      grid-template-columns: 1fr 1fr; } }

.article-page .container {
  max-width: 72.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem; }
  @media screen and (min-width: 48em) {
    .article-page .container {
      grid-template-columns: calc(65% - 2rem) 35%;
      justify-content: space-between; } }
  @media screen and (min-width: 64em) {
    .article-page .container {
      grid-template-columns: 59% 28%; } }

.article-page .article-content {
  padding: 1.5rem 1rem 3rem; }
  @media screen and (min-width: 48em) {
    .article-page .article-content {
      padding-bottom: 4rem; } }
  @media screen and (min-width: 64em) {
    .article-page .article-content {
      padding-bottom: 5rem; } }

.article-page .article-info h1 {
  margin-bottom: 1.75rem;
  font-size: 1.75rem; }
  @media screen and (min-width: 48em) {
    .article-page .article-info h1 {
      margin-bottom: 2.25rem;
      font-size: 2.25rem; } }

.article-page .article-info h2 {
  margin-top: 1.875rem;
  margin-bottom: 0.25rem;
  font-size: 1.125rem; }
  @media screen and (min-width: 48em) {
    .article-page .article-info h2 {
      font-size: 1.375rem; } }

@media screen and (min-width: 48em) {
  .article-page .article-related {
    padding-top: 6.5rem; } }

[data-aos][data-aos][data-aos-duration="50"], body[data-aos-duration="50"] [data-aos] {
  transition-duration: 50ms; }

[data-aos][data-aos][data-aos-delay="50"], body[data-aos-delay="50"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="50"].aos-animate, body[data-aos-delay="50"] [data-aos].aos-animate {
  transition-delay: 50ms; }

[data-aos][data-aos][data-aos-duration="100"], body[data-aos-duration="100"] [data-aos] {
  transition-duration: .1s; }

[data-aos][data-aos][data-aos-delay="100"], body[data-aos-delay="100"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="100"].aos-animate, body[data-aos-delay="100"] [data-aos].aos-animate {
  transition-delay: .1s; }

[data-aos][data-aos][data-aos-duration="150"], body[data-aos-duration="150"] [data-aos] {
  transition-duration: .15s; }

[data-aos][data-aos][data-aos-delay="150"], body[data-aos-delay="150"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="150"].aos-animate, body[data-aos-delay="150"] [data-aos].aos-animate {
  transition-delay: .15s; }

[data-aos][data-aos][data-aos-duration="200"], body[data-aos-duration="200"] [data-aos] {
  transition-duration: .2s; }

[data-aos][data-aos][data-aos-delay="200"], body[data-aos-delay="200"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="200"].aos-animate, body[data-aos-delay="200"] [data-aos].aos-animate {
  transition-delay: .2s; }

[data-aos][data-aos][data-aos-duration="250"], body[data-aos-duration="250"] [data-aos] {
  transition-duration: .25s; }

[data-aos][data-aos][data-aos-delay="250"], body[data-aos-delay="250"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="250"].aos-animate, body[data-aos-delay="250"] [data-aos].aos-animate {
  transition-delay: .25s; }

[data-aos][data-aos][data-aos-duration="300"], body[data-aos-duration="300"] [data-aos] {
  transition-duration: .3s; }

[data-aos][data-aos][data-aos-delay="300"], body[data-aos-delay="300"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="300"].aos-animate, body[data-aos-delay="300"] [data-aos].aos-animate {
  transition-delay: .3s; }

[data-aos][data-aos][data-aos-duration="350"], body[data-aos-duration="350"] [data-aos] {
  transition-duration: .35s; }

[data-aos][data-aos][data-aos-delay="350"], body[data-aos-delay="350"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="350"].aos-animate, body[data-aos-delay="350"] [data-aos].aos-animate {
  transition-delay: .35s; }

[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: .4s; }

[data-aos][data-aos][data-aos-delay="400"], body[data-aos-delay="400"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="400"].aos-animate, body[data-aos-delay="400"] [data-aos].aos-animate {
  transition-delay: .4s; }

[data-aos][data-aos][data-aos-duration="450"], body[data-aos-duration="450"] [data-aos] {
  transition-duration: .45s; }

[data-aos][data-aos][data-aos-delay="450"], body[data-aos-delay="450"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="450"].aos-animate, body[data-aos-delay="450"] [data-aos].aos-animate {
  transition-delay: .45s; }

[data-aos][data-aos][data-aos-duration="500"], body[data-aos-duration="500"] [data-aos] {
  transition-duration: .5s; }

[data-aos][data-aos][data-aos-delay="500"], body[data-aos-delay="500"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="500"].aos-animate, body[data-aos-delay="500"] [data-aos].aos-animate {
  transition-delay: .5s; }

[data-aos][data-aos][data-aos-duration="550"], body[data-aos-duration="550"] [data-aos] {
  transition-duration: .55s; }

[data-aos][data-aos][data-aos-delay="550"], body[data-aos-delay="550"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="550"].aos-animate, body[data-aos-delay="550"] [data-aos].aos-animate {
  transition-delay: .55s; }

[data-aos][data-aos][data-aos-duration="600"], body[data-aos-duration="600"] [data-aos] {
  transition-duration: .6s; }

[data-aos][data-aos][data-aos-delay="600"], body[data-aos-delay="600"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="600"].aos-animate, body[data-aos-delay="600"] [data-aos].aos-animate {
  transition-delay: .6s; }

[data-aos][data-aos][data-aos-duration="650"], body[data-aos-duration="650"] [data-aos] {
  transition-duration: .65s; }

[data-aos][data-aos][data-aos-delay="650"], body[data-aos-delay="650"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="650"].aos-animate, body[data-aos-delay="650"] [data-aos].aos-animate {
  transition-delay: .65s; }

[data-aos][data-aos][data-aos-duration="700"], body[data-aos-duration="700"] [data-aos] {
  transition-duration: .7s; }

[data-aos][data-aos][data-aos-delay="700"], body[data-aos-delay="700"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="700"].aos-animate, body[data-aos-delay="700"] [data-aos].aos-animate {
  transition-delay: .7s; }

[data-aos][data-aos][data-aos-duration="750"], body[data-aos-duration="750"] [data-aos] {
  transition-duration: .75s; }

[data-aos][data-aos][data-aos-delay="750"], body[data-aos-delay="750"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="750"].aos-animate, body[data-aos-delay="750"] [data-aos].aos-animate {
  transition-delay: .75s; }

[data-aos][data-aos][data-aos-duration="800"], body[data-aos-duration="800"] [data-aos] {
  transition-duration: .8s; }

[data-aos][data-aos][data-aos-delay="800"], body[data-aos-delay="800"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="800"].aos-animate, body[data-aos-delay="800"] [data-aos].aos-animate {
  transition-delay: .8s; }

[data-aos][data-aos][data-aos-duration="850"], body[data-aos-duration="850"] [data-aos] {
  transition-duration: .85s; }

[data-aos][data-aos][data-aos-delay="850"], body[data-aos-delay="850"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="850"].aos-animate, body[data-aos-delay="850"] [data-aos].aos-animate {
  transition-delay: .85s; }

[data-aos][data-aos][data-aos-duration="900"], body[data-aos-duration="900"] [data-aos] {
  transition-duration: .9s; }

[data-aos][data-aos][data-aos-delay="900"], body[data-aos-delay="900"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="900"].aos-animate, body[data-aos-delay="900"] [data-aos].aos-animate {
  transition-delay: .9s; }

[data-aos][data-aos][data-aos-duration="950"], body[data-aos-duration="950"] [data-aos] {
  transition-duration: .95s; }

[data-aos][data-aos][data-aos-delay="950"], body[data-aos-delay="950"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="950"].aos-animate, body[data-aos-delay="950"] [data-aos].aos-animate {
  transition-delay: .95s; }

[data-aos][data-aos][data-aos-duration="1000"], body[data-aos-duration="1000"] [data-aos] {
  transition-duration: 1s; }

[data-aos][data-aos][data-aos-delay="1000"], body[data-aos-delay="1000"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1000"].aos-animate, body[data-aos-delay="1000"] [data-aos].aos-animate {
  transition-delay: 1s; }

[data-aos][data-aos][data-aos-duration="1050"], body[data-aos-duration="1050"] [data-aos] {
  transition-duration: 1.05s; }

[data-aos][data-aos][data-aos-delay="1050"], body[data-aos-delay="1050"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1050"].aos-animate, body[data-aos-delay="1050"] [data-aos].aos-animate {
  transition-delay: 1.05s; }

[data-aos][data-aos][data-aos-duration="1100"], body[data-aos-duration="1100"] [data-aos] {
  transition-duration: 1.1s; }

[data-aos][data-aos][data-aos-delay="1100"], body[data-aos-delay="1100"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1100"].aos-animate, body[data-aos-delay="1100"] [data-aos].aos-animate {
  transition-delay: 1.1s; }

[data-aos][data-aos][data-aos-duration="1150"], body[data-aos-duration="1150"] [data-aos] {
  transition-duration: 1.15s; }

[data-aos][data-aos][data-aos-delay="1150"], body[data-aos-delay="1150"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1150"].aos-animate, body[data-aos-delay="1150"] [data-aos].aos-animate {
  transition-delay: 1.15s; }

[data-aos][data-aos][data-aos-duration="1200"], body[data-aos-duration="1200"] [data-aos] {
  transition-duration: 1.2s; }

[data-aos][data-aos][data-aos-delay="1200"], body[data-aos-delay="1200"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1200"].aos-animate, body[data-aos-delay="1200"] [data-aos].aos-animate {
  transition-delay: 1.2s; }

[data-aos][data-aos][data-aos-duration="1250"], body[data-aos-duration="1250"] [data-aos] {
  transition-duration: 1.25s; }

[data-aos][data-aos][data-aos-delay="1250"], body[data-aos-delay="1250"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1250"].aos-animate, body[data-aos-delay="1250"] [data-aos].aos-animate {
  transition-delay: 1.25s; }

[data-aos][data-aos][data-aos-duration="1300"], body[data-aos-duration="1300"] [data-aos] {
  transition-duration: 1.3s; }

[data-aos][data-aos][data-aos-delay="1300"], body[data-aos-delay="1300"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1300"].aos-animate, body[data-aos-delay="1300"] [data-aos].aos-animate {
  transition-delay: 1.3s; }

[data-aos][data-aos][data-aos-duration="1350"], body[data-aos-duration="1350"] [data-aos] {
  transition-duration: 1.35s; }

[data-aos][data-aos][data-aos-delay="1350"], body[data-aos-delay="1350"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1350"].aos-animate, body[data-aos-delay="1350"] [data-aos].aos-animate {
  transition-delay: 1.35s; }

[data-aos][data-aos][data-aos-duration="1400"], body[data-aos-duration="1400"] [data-aos] {
  transition-duration: 1.4s; }

[data-aos][data-aos][data-aos-delay="1400"], body[data-aos-delay="1400"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1400"].aos-animate, body[data-aos-delay="1400"] [data-aos].aos-animate {
  transition-delay: 1.4s; }

[data-aos][data-aos][data-aos-duration="1450"], body[data-aos-duration="1450"] [data-aos] {
  transition-duration: 1.45s; }

[data-aos][data-aos][data-aos-delay="1450"], body[data-aos-delay="1450"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1450"].aos-animate, body[data-aos-delay="1450"] [data-aos].aos-animate {
  transition-delay: 1.45s; }

[data-aos][data-aos][data-aos-duration="1500"], body[data-aos-duration="1500"] [data-aos] {
  transition-duration: 1.5s; }

[data-aos][data-aos][data-aos-delay="1500"], body[data-aos-delay="1500"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1500"].aos-animate, body[data-aos-delay="1500"] [data-aos].aos-animate {
  transition-delay: 1.5s; }

[data-aos][data-aos][data-aos-duration="1550"], body[data-aos-duration="1550"] [data-aos] {
  transition-duration: 1.55s; }

[data-aos][data-aos][data-aos-delay="1550"], body[data-aos-delay="1550"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1550"].aos-animate, body[data-aos-delay="1550"] [data-aos].aos-animate {
  transition-delay: 1.55s; }

[data-aos][data-aos][data-aos-duration="1600"], body[data-aos-duration="1600"] [data-aos] {
  transition-duration: 1.6s; }

[data-aos][data-aos][data-aos-delay="1600"], body[data-aos-delay="1600"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1600"].aos-animate, body[data-aos-delay="1600"] [data-aos].aos-animate {
  transition-delay: 1.6s; }

[data-aos][data-aos][data-aos-duration="1650"], body[data-aos-duration="1650"] [data-aos] {
  transition-duration: 1.65s; }

[data-aos][data-aos][data-aos-delay="1650"], body[data-aos-delay="1650"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1650"].aos-animate, body[data-aos-delay="1650"] [data-aos].aos-animate {
  transition-delay: 1.65s; }

[data-aos][data-aos][data-aos-duration="1700"], body[data-aos-duration="1700"] [data-aos] {
  transition-duration: 1.7s; }

[data-aos][data-aos][data-aos-delay="1700"], body[data-aos-delay="1700"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1700"].aos-animate, body[data-aos-delay="1700"] [data-aos].aos-animate {
  transition-delay: 1.7s; }

[data-aos][data-aos][data-aos-duration="1750"], body[data-aos-duration="1750"] [data-aos] {
  transition-duration: 1.75s; }

[data-aos][data-aos][data-aos-delay="1750"], body[data-aos-delay="1750"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1750"].aos-animate, body[data-aos-delay="1750"] [data-aos].aos-animate {
  transition-delay: 1.75s; }

[data-aos][data-aos][data-aos-duration="1800"], body[data-aos-duration="1800"] [data-aos] {
  transition-duration: 1.8s; }

[data-aos][data-aos][data-aos-delay="1800"], body[data-aos-delay="1800"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1800"].aos-animate, body[data-aos-delay="1800"] [data-aos].aos-animate {
  transition-delay: 1.8s; }

[data-aos][data-aos][data-aos-duration="1850"], body[data-aos-duration="1850"] [data-aos] {
  transition-duration: 1.85s; }

[data-aos][data-aos][data-aos-delay="1850"], body[data-aos-delay="1850"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1850"].aos-animate, body[data-aos-delay="1850"] [data-aos].aos-animate {
  transition-delay: 1.85s; }

[data-aos][data-aos][data-aos-duration="1900"], body[data-aos-duration="1900"] [data-aos] {
  transition-duration: 1.9s; }

[data-aos][data-aos][data-aos-delay="1900"], body[data-aos-delay="1900"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1900"].aos-animate, body[data-aos-delay="1900"] [data-aos].aos-animate {
  transition-delay: 1.9s; }

[data-aos][data-aos][data-aos-duration="1950"], body[data-aos-duration="1950"] [data-aos] {
  transition-duration: 1.95s; }

[data-aos][data-aos][data-aos-delay="1950"], body[data-aos-delay="1950"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="1950"].aos-animate, body[data-aos-delay="1950"] [data-aos].aos-animate {
  transition-delay: 1.95s; }

[data-aos][data-aos][data-aos-duration="2000"], body[data-aos-duration="2000"] [data-aos] {
  transition-duration: 2s; }

[data-aos][data-aos][data-aos-delay="2000"], body[data-aos-delay="2000"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2000"].aos-animate, body[data-aos-delay="2000"] [data-aos].aos-animate {
  transition-delay: 2s; }

[data-aos][data-aos][data-aos-duration="2050"], body[data-aos-duration="2050"] [data-aos] {
  transition-duration: 2.05s; }

[data-aos][data-aos][data-aos-delay="2050"], body[data-aos-delay="2050"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2050"].aos-animate, body[data-aos-delay="2050"] [data-aos].aos-animate {
  transition-delay: 2.05s; }

[data-aos][data-aos][data-aos-duration="2100"], body[data-aos-duration="2100"] [data-aos] {
  transition-duration: 2.1s; }

[data-aos][data-aos][data-aos-delay="2100"], body[data-aos-delay="2100"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2100"].aos-animate, body[data-aos-delay="2100"] [data-aos].aos-animate {
  transition-delay: 2.1s; }

[data-aos][data-aos][data-aos-duration="2150"], body[data-aos-duration="2150"] [data-aos] {
  transition-duration: 2.15s; }

[data-aos][data-aos][data-aos-delay="2150"], body[data-aos-delay="2150"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2150"].aos-animate, body[data-aos-delay="2150"] [data-aos].aos-animate {
  transition-delay: 2.15s; }

[data-aos][data-aos][data-aos-duration="2200"], body[data-aos-duration="2200"] [data-aos] {
  transition-duration: 2.2s; }

[data-aos][data-aos][data-aos-delay="2200"], body[data-aos-delay="2200"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2200"].aos-animate, body[data-aos-delay="2200"] [data-aos].aos-animate {
  transition-delay: 2.2s; }

[data-aos][data-aos][data-aos-duration="2250"], body[data-aos-duration="2250"] [data-aos] {
  transition-duration: 2.25s; }

[data-aos][data-aos][data-aos-delay="2250"], body[data-aos-delay="2250"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2250"].aos-animate, body[data-aos-delay="2250"] [data-aos].aos-animate {
  transition-delay: 2.25s; }

[data-aos][data-aos][data-aos-duration="2300"], body[data-aos-duration="2300"] [data-aos] {
  transition-duration: 2.3s; }

[data-aos][data-aos][data-aos-delay="2300"], body[data-aos-delay="2300"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2300"].aos-animate, body[data-aos-delay="2300"] [data-aos].aos-animate {
  transition-delay: 2.3s; }

[data-aos][data-aos][data-aos-duration="2350"], body[data-aos-duration="2350"] [data-aos] {
  transition-duration: 2.35s; }

[data-aos][data-aos][data-aos-delay="2350"], body[data-aos-delay="2350"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2350"].aos-animate, body[data-aos-delay="2350"] [data-aos].aos-animate {
  transition-delay: 2.35s; }

[data-aos][data-aos][data-aos-duration="2400"], body[data-aos-duration="2400"] [data-aos] {
  transition-duration: 2.4s; }

[data-aos][data-aos][data-aos-delay="2400"], body[data-aos-delay="2400"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2400"].aos-animate, body[data-aos-delay="2400"] [data-aos].aos-animate {
  transition-delay: 2.4s; }

[data-aos][data-aos][data-aos-duration="2450"], body[data-aos-duration="2450"] [data-aos] {
  transition-duration: 2.45s; }

[data-aos][data-aos][data-aos-delay="2450"], body[data-aos-delay="2450"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2450"].aos-animate, body[data-aos-delay="2450"] [data-aos].aos-animate {
  transition-delay: 2.45s; }

[data-aos][data-aos][data-aos-duration="2500"], body[data-aos-duration="2500"] [data-aos] {
  transition-duration: 2.5s; }

[data-aos][data-aos][data-aos-delay="2500"], body[data-aos-delay="2500"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2500"].aos-animate, body[data-aos-delay="2500"] [data-aos].aos-animate {
  transition-delay: 2.5s; }

[data-aos][data-aos][data-aos-duration="2550"], body[data-aos-duration="2550"] [data-aos] {
  transition-duration: 2.55s; }

[data-aos][data-aos][data-aos-delay="2550"], body[data-aos-delay="2550"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2550"].aos-animate, body[data-aos-delay="2550"] [data-aos].aos-animate {
  transition-delay: 2.55s; }

[data-aos][data-aos][data-aos-duration="2600"], body[data-aos-duration="2600"] [data-aos] {
  transition-duration: 2.6s; }

[data-aos][data-aos][data-aos-delay="2600"], body[data-aos-delay="2600"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2600"].aos-animate, body[data-aos-delay="2600"] [data-aos].aos-animate {
  transition-delay: 2.6s; }

[data-aos][data-aos][data-aos-duration="2650"], body[data-aos-duration="2650"] [data-aos] {
  transition-duration: 2.65s; }

[data-aos][data-aos][data-aos-delay="2650"], body[data-aos-delay="2650"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2650"].aos-animate, body[data-aos-delay="2650"] [data-aos].aos-animate {
  transition-delay: 2.65s; }

[data-aos][data-aos][data-aos-duration="2700"], body[data-aos-duration="2700"] [data-aos] {
  transition-duration: 2.7s; }

[data-aos][data-aos][data-aos-delay="2700"], body[data-aos-delay="2700"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2700"].aos-animate, body[data-aos-delay="2700"] [data-aos].aos-animate {
  transition-delay: 2.7s; }

[data-aos][data-aos][data-aos-duration="2750"], body[data-aos-duration="2750"] [data-aos] {
  transition-duration: 2.75s; }

[data-aos][data-aos][data-aos-delay="2750"], body[data-aos-delay="2750"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2750"].aos-animate, body[data-aos-delay="2750"] [data-aos].aos-animate {
  transition-delay: 2.75s; }

[data-aos][data-aos][data-aos-duration="2800"], body[data-aos-duration="2800"] [data-aos] {
  transition-duration: 2.8s; }

[data-aos][data-aos][data-aos-delay="2800"], body[data-aos-delay="2800"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2800"].aos-animate, body[data-aos-delay="2800"] [data-aos].aos-animate {
  transition-delay: 2.8s; }

[data-aos][data-aos][data-aos-duration="2850"], body[data-aos-duration="2850"] [data-aos] {
  transition-duration: 2.85s; }

[data-aos][data-aos][data-aos-delay="2850"], body[data-aos-delay="2850"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2850"].aos-animate, body[data-aos-delay="2850"] [data-aos].aos-animate {
  transition-delay: 2.85s; }

[data-aos][data-aos][data-aos-duration="2900"], body[data-aos-duration="2900"] [data-aos] {
  transition-duration: 2.9s; }

[data-aos][data-aos][data-aos-delay="2900"], body[data-aos-delay="2900"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2900"].aos-animate, body[data-aos-delay="2900"] [data-aos].aos-animate {
  transition-delay: 2.9s; }

[data-aos][data-aos][data-aos-duration="2950"], body[data-aos-duration="2950"] [data-aos] {
  transition-duration: 2.95s; }

[data-aos][data-aos][data-aos-delay="2950"], body[data-aos-delay="2950"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="2950"].aos-animate, body[data-aos-delay="2950"] [data-aos].aos-animate {
  transition-delay: 2.95s; }

[data-aos][data-aos][data-aos-duration="3000"], body[data-aos-duration="3000"] [data-aos] {
  transition-duration: 3s; }

[data-aos][data-aos][data-aos-delay="3000"], body[data-aos-delay="3000"] [data-aos] {
  transition-delay: 0; }

[data-aos][data-aos][data-aos-delay="3000"].aos-animate, body[data-aos-delay="3000"] [data-aos].aos-animate {
  transition-delay: 3s; }

[data-aos][data-aos][data-aos-easing=linear], body[data-aos-easing=linear] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }

[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: ease; }

[data-aos][data-aos][data-aos-easing=ease-in], body[data-aos-easing=ease-in] [data-aos] {
  transition-timing-function: ease-in; }

[data-aos][data-aos][data-aos-easing=ease-out], body[data-aos-easing=ease-out] [data-aos] {
  transition-timing-function: ease-out; }

[data-aos][data-aos][data-aos-easing=ease-in-out], body[data-aos-easing=ease-in-out] [data-aos] {
  transition-timing-function: ease-in-out; }

[data-aos][data-aos][data-aos-easing=ease-in-back], body[data-aos-easing=ease-in-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }

[data-aos][data-aos][data-aos-easing=ease-out-back], body[data-aos-easing=ease-out-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }

[data-aos][data-aos][data-aos-easing=ease-in-out-back], body[data-aos-easing=ease-in-out-back] [data-aos] {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

[data-aos][data-aos][data-aos-easing=ease-in-sine], body[data-aos-easing=ease-in-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); }

[data-aos][data-aos][data-aos-easing=ease-out-sine], body[data-aos-easing=ease-out-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); }

[data-aos][data-aos][data-aos-easing=ease-in-out-sine], body[data-aos-easing=ease-in-out-sine] [data-aos] {
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); }

[data-aos][data-aos][data-aos-easing=ease-in-quad], body[data-aos-easing=ease-in-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }

[data-aos][data-aos][data-aos-easing=ease-out-quad], body[data-aos-easing=ease-out-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

[data-aos][data-aos][data-aos-easing=ease-in-out-quad], body[data-aos-easing=ease-in-out-quad] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }

[data-aos][data-aos][data-aos-easing=ease-in-cubic], body[data-aos-easing=ease-in-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }

[data-aos][data-aos][data-aos-easing=ease-out-cubic], body[data-aos-easing=ease-out-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

[data-aos][data-aos][data-aos-easing=ease-in-out-cubic], body[data-aos-easing=ease-in-out-cubic] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }

[data-aos][data-aos][data-aos-easing=ease-in-quart], body[data-aos-easing=ease-in-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }

[data-aos][data-aos][data-aos-easing=ease-out-quart], body[data-aos-easing=ease-out-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

[data-aos][data-aos][data-aos-easing=ease-in-out-quart], body[data-aos-easing=ease-in-out-quart] [data-aos] {
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }

[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity,transform; }

[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0); }

[data-aos=fade-up] {
  transform: translate3d(0, 100px, 0); }

[data-aos=fade-down] {
  transform: translate3d(0, -100px, 0); }

[data-aos=fade-right] {
  transform: translate3d(-100px, 0, 0); }

[data-aos=fade-left] {
  transform: translate3d(100px, 0, 0); }

[data-aos=fade-up-right] {
  transform: translate3d(-100px, 100px, 0); }

[data-aos=fade-up-left] {
  transform: translate3d(100px, 100px, 0); }

[data-aos=fade-down-right] {
  transform: translate3d(-100px, -100px, 0); }

[data-aos=fade-down-left] {
  transform: translate3d(100px, -100px, 0); }

[data-aos^=zoom][data-aos^=zoom] {
  opacity: 0;
  transition-property: opacity,transform; }

[data-aos^=zoom][data-aos^=zoom].aos-animate {
  opacity: 1;
  transform: translateZ(0) scale(1); }

[data-aos=zoom-in] {
  transform: scale(0.6); }

[data-aos=zoom-in-up] {
  transform: translate3d(0, 100px, 0) scale(0.6); }

[data-aos=zoom-in-down] {
  transform: translate3d(0, -100px, 0) scale(0.6); }

[data-aos=zoom-in-right] {
  transform: translate3d(-100px, 0, 0) scale(0.6); }

[data-aos=zoom-in-left] {
  transform: translate3d(100px, 0, 0) scale(0.6); }

[data-aos=zoom-out] {
  transform: scale(1.2); }

[data-aos=zoom-out-up] {
  transform: translate3d(0, 100px, 0) scale(1.2); }

[data-aos=zoom-out-down] {
  transform: translate3d(0, -100px, 0) scale(1.2); }

[data-aos=zoom-out-right] {
  transform: translate3d(-100px, 0, 0) scale(1.2); }

[data-aos=zoom-out-left] {
  transform: translate3d(100px, 0, 0) scale(1.2); }

[data-aos^=slide][data-aos^=slide] {
  transition-property: transform; }

[data-aos^=slide][data-aos^=slide].aos-animate {
  transform: translateZ(0); }

[data-aos=slide-up] {
  transform: translate3d(0, 100%, 0); }

[data-aos=slide-down] {
  transform: translate3d(0, -100%, 0); }

[data-aos=slide-right] {
  transform: translate3d(-100%, 0, 0); }

[data-aos=slide-left] {
  transform: translate3d(100%, 0, 0); }

[data-aos^=flip][data-aos^=flip] {
  backface-visibility: hidden;
  transition-property: transform; }

[data-aos=flip-left] {
  transform: perspective(2500px) rotateY(-100deg); }

[data-aos=flip-left].aos-animate {
  transform: perspective(2500px) rotateY(0); }

[data-aos=flip-right] {
  transform: perspective(2500px) rotateY(100deg); }

[data-aos=flip-right].aos-animate {
  transform: perspective(2500px) rotateY(0); }

[data-aos=flip-up] {
  transform: perspective(2500px) rotateX(-100deg); }

[data-aos=flip-up].aos-animate {
  transform: perspective(2500px) rotateX(0); }

[data-aos=flip-down] {
  transform: perspective(2500px) rotateX(100deg); }

[data-aos=flip-down].aos-animate {
  transform: perspective(2500px) rotateX(0); }

/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: 0; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }

.flickity-button:hover {
  background: #fff;
  cursor: pointer; }

.flickity-button:focus {
  outline: 0;
  box-shadow: 0 0 0 5px #19f; }

.flickity-button:active {
  opacity: .6; }

.flickity-button:disabled {
  opacity: .3;
  cursor: auto;
  pointer-events: none; }

.flickity-button-icon {
  fill: currentColor; }

.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transform: translateY(-50%); }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: .25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

/*# sourceMappingURL=styles.css.map */
