// ------------------------------------------------------
// SERVICES
// ------------------------------------------------------

.services {
  .title-wrapper {
    @include mq($from: tablet) {
      margin-bottom: 3rem;
    }
  }

  // ELEMENTS
  &-wrapper {
    @include wrapAnything($maxWidth: 58rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, 14rem);
    gap: 1rem;
    width: 85%;
    justify-content: center;
    margin-bottom: 2.5rem;

    @include mq($from: tablet) {
      gap: 2rem;
      margin-bottom: 3.5rem;
    }
    @include mq($from: desktop) {
      grid-template-columns: 14rem 18rem 14rem;
    }
  }
}
