<svg xmlns="http://www.w3.org/2000/svg">
  <defs>
    <symbol id="spinner" viewBox="0 0 512.001 512.001">
      <title>Spinner</title>
      <desc>Icono de carga de la aplicación</desc>
      <g fill="currentColor">
        <path d="m400.001 336h-288c-61.757 0-112-50.243-112-112s50.243-112 112-112c5.673 0 11.298.421 16.844 1.258 7.332-63.663 61.56-113.258 127.156-113.258s119.824 49.595 127.156 113.258c5.546-.837 11.171-1.258 16.844-1.258 61.757 0 112 50.243 112 112s-50.243 112-112 112zm-288-192c-44.112 0-80 35.888-80 80s35.888 80 80 80h288c44.112 0 80-35.888 80-80s-35.888-80-80-80c-9.204 0-18.216 1.543-26.784 4.587-5.044 1.792-10.65.943-14.938-2.264-4.287-3.206-6.687-8.343-6.394-13.688.077-1.423.115-2.939.115-4.635 0-52.935-43.065-96-96-96s-96 43.065-96 96c0 1.696.038 3.212.115 4.635.293 5.345-2.106 10.482-6.394 13.688-4.288 3.207-9.896 4.055-14.938 2.264-8.566-3.044-17.578-4.587-26.782-4.587z"/>
        <path d="m215.986 424.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.902-7.353 14.837-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
        <path d="m79.986 424.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.837-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
        <path d="m367.986 424.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.902-7.353 14.836-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
        <path d="m215.986 512.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.902-7.353 14.837-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
        <path d="m287.986 456.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.837-9.338 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
        <path d="m359.986 512.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.836-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
        <path d="m143.986 456.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.836-9.338 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
        <path d="m71.986 512.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.837-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
      </g>
    </symbol>

    <symbol id="arrow" viewBox="0 0 28 48">
      <path fill="currentColor" d="M4.0145 47.347a3.3266 3.3266 0 01-2.3633-.9667 3.3358 3.3358 0 01-.9845-2.3667c0-.8888.3544-1.7407.9845-2.3666l17.6411-17.6334L1.6513 6.3803C.346 5.0733.346 2.954 1.6512 1.647c1.3051-1.3071 3.4212-1.3071 4.7264 0l19.971 20a3.3358 3.3358 0 01.9846 2.3666 3.3358 3.3358 0 01-.9845 2.3667l-19.971 20a3.3266 3.3266 0 01-2.3633.9668z"/>
    </symbol>

    <symbol id="search" viewBox="0 0 68 68">
      <path d="M24.7187.666c13.2838 0 24.0533 10.7695 24.0533 24.0533 0 3.9957-.9744 7.764-2.6985 11.08l19.132 19.1342c2.8376 2.8375 2.8376 7.4361-.0009 10.2746-2.6956 2.6915-6.98 2.826-9.8315.403l-.4378-.4038-19.14-19.1314c-3.3153 1.723-7.0823 2.6968-11.0766 2.6968C11.4349 48.7727.6653 38.003.6653 24.7193S11.435.666 24.7187.666zm14.0021 43.613l18.5714 18.5712c1.5326 1.5326 4.0213 1.5326 5.5563 0 1.426-1.4261 1.528-3.6733.3056-5.2167l-.3056-.343-18.5702-18.569a24.1925 24.1925 0 01-5.5575 5.5575zM24.7187 3.9993c-11.4429 0-20.72 9.2772-20.72 20.72 0 11.4429 9.2771 20.72 20.72 20.72 11.4428 0 20.72-9.2771 20.72-20.72 0-11.4428-9.2772-20.72-20.72-20.72z" fill="#EC0000" fill-rule="nonzero"/>
    </symbol>

    <symbol id="back-arrow" viewBox="0 0 22 16">
      <path d="M8.1792.0147a.5.5 0 01.2672.8012L1.713 7.521l19.7884.001a.5.5 0 01.5.5.5.5 0 01-.5.49L1.702 8.511l6.6794 6.661a.5.5 0 010 .71.46.46 0 01-.2956.141l-.0844-.001a.46.46 0 01-.35-.14l-7.53-7.5a.49.49 0 01-.1197-.2817L.0014 8.022a.473.473 0 01.0068-.0858l-.0068.0858c0-.0372.004-.0734.0118-.1083l.0159-.0564.0294-.0655a.4882.4882 0 01.134-.163L7.6815.172a.5.5 0 01.4977-.1573z" fill="currentColor" fill-rule="nonzero"/>
    </symbol>

    <symbol id="facebook" viewBox="0 0 20 20">
      <path d="M15.5 0C17.9853 0 20 2.0147 20 4.5v11c0 2.4853-2.0147 4.5-4.5 4.5h-11C2.0147 20 0 17.9853 0 15.5v-11C0 2.0147 2.0147 0 4.5 0h11zm0 1h-11C2.567 1 1 2.567 1 4.5v11C1 17.433 2.567 19 4.5 19h11c1.933 0 3.5-1.567 3.5-3.5v-11C19 2.567 17.433 1 15.5 1zm-2 1.9999c.2761 0 .5.224.5.5001v1.95a.5.5 0 01-.5.5h-1.1327c-.6665 0-.9128.1917-.9128.6376V8.2h1.8673c.34 0 .5808.332.4753.655l-.6363 1.95a.5.5 0 01-.4753.345h-1.231V16.5a.5.5 0 01-.5.5h-1.909a.5.5 0 01-.5-.5v-5.35H6.5a.5.5 0 01-.5-.5V8.7a.5.5 0 01.5-.5h2.0455l.0004-2.122c.0769-1.73 1.4838-3.0921 3.185-3.0781h1.769zm-.5 1h-1.2733c-1.1626-.0095-2.1286.9257-2.1812 2.1002v2.6a.5.5 0 01-.5.5H7v.95h2.0455a.5.5 0 01.5.5V16h.909v-5.35a.5.5 0 01.5-.5h1.3682l.31-.95h-1.6782a.5.5 0 01-.5-.5V6.5877c0-1.061.7411-1.6375 1.9128-1.6375H13v-.9502z" fill="currentColor" fill-rule="nonzero"/>
    </symbol>

    <symbol id="twitter" viewBox="0 0 20 20">
      <path d="M15.5 0C17.9853 0 20 2.0147 20 4.5v11c0 2.4853-2.0147 4.5-4.5 4.5h-11C2.0147 20 0 17.9853 0 15.5v-11C0 2.0147 2.0147 0 4.5 0h11zm0 1h-11C2.567 1 1 2.567 1 4.5v11C1 17.433 2.567 19 4.5 19h11c1.933 0 3.5-1.567 3.5-3.5v-11C19 2.567 17.433 1 15.5 1zm-1.1131 4.0222a5.252 5.252 0 001.2537-.5065c.3718-.2094.8032.111.7405.5087l-.032.1201-.0498.1591c-.0796.2564-.1502.4645-.2235.6437a1.1525 1.1525 0 00.158-.0414l.0735-.0279c.4591-.1917.886.3317.606.743a5.7374 5.7374 0 01-1.2077 1.2899c.41 5.5544-6.2978 10.0432-12.4524 6.5496-.4737-.2688-.237-.9939.304-.9315a4.6603 4.6603 0 002.463-.3878 3.4404 3.4404 0 01-1.8206-1.7885c-.1163-.2635.0106-.5313.2258-.6457a3.3904 3.3904 0 01-1.0661-2.3067c-.0147-.2943.2118-.5045.463-.5245-.4085-.9042-.3818-1.986.1551-2.8978.1788-.3034.6068-.332.8242-.0549 1.0906 1.39 2.6733 2.2833 4.3991 2.5017-.004-.9154.3847-1.9414 1.1734-2.5026l.163-.1058c1.189-.8326 2.7744-.7333 3.8498.2058zm-3.3084.6341c-.71.4198-1.0006 1.4977-.8278 2.1958.0799.3228-.1718.6322-.504.6198-1.959-.0732-3.8042-.8993-5.1685-2.2899-.15.8078.1727 1.661.8787 2.1507.3688.2558.2399.8302-.2028.904a2.103 2.103 0 01-.6777.0023c.3046.6586.8996 1.1576 1.6338 1.3183.4413.0965.5384.6824.1519.9162a2.0973 2.0973 0 01-.6918.2657c.4451.4223 1.0407.6682 1.674.6646.4726-.0026.6847.5912.3175.8886a5.6863 5.6863 0 01-2.1054 1.074c4.9501 1.4673 9.643-2.2769 9.128-6.6302a.5.5 0 01.2094-.468 4.7127 4.7127 0 00.3514-.2721l-.2067.0106c-.5035.0396-.7248-.592-.3583-.8845l.0756-.0506a.6944.6944 0 00.2095-.1762 6.2387 6.2387 0 01-.626.1648.5.5 0 01-.4644-.145c-.7292-.7668-1.8997-.885-2.7964-.2589z" fill="currentColor" fill-rule="nonzero"/>
    </symbol>

    <symbol id="linkedin" viewBox="0 0 20 20">
      <path d="M15.5 0C17.9853 0 20 2.0147 20 4.5v11c0 2.4853-2.0147 4.5-4.5 4.5h-11C2.0147 20 0 17.9853 0 15.5v-11C0 2.0147 2.0147 0 4.5 0h11zm0 1h-11C2.567 1 1 2.567 1 4.5v11C1 17.433 2.567 19 4.5 19h11c1.933 0 3.5-1.567 3.5-3.5v-11C19 2.567 17.433 1 15.5 1zm-9 6.9992a.5.5 0 01.5.5v8.0036a.5.5 0 01-.5.5h-3a.5.5 0 01-.5-.5V8.4992a.5.5 0 01.5-.5h3zm7.2538.0129c1.8619 0 3.249 1.4998 3.249 3.4057v5.085a.5.5 0 01-.5.5h-2.749a.5.5 0 01-.5-.5v-4.3586c0-.4266-.3844-.7607-.7604-.7607-.3987 0-.832.351-.832.7607v4.3586a.5.5 0 01-.5.5H8.4992a.5.5 0 01-.5-.5V8.512a.5.5 0 01.5-.5h2.6622a.5002.5002 0 01.4868.385c.695-.3265 1.3336-.4426 2.1056-.385zM6 8.9992H4v7.0036h2V8.9992zm5.428.6623c-.3329.2098-.7666-.0294-.7666-.423V9.012H8.9992v6.9907h1.6622v-3.8586c0-1.0137.9218-1.7607 1.832-1.7607.8995 0 1.7604.748 1.7604 1.7607v3.8586h1.749v-4.585c0-1.3132-.8795-2.3189-2.1215-2.4016l-.164-.0055c-.8463-.062-1.4382.1143-2.2892.6508zM5 3c1.1046 0 2 .8954 2 2s-.8954 2-2 2-2-.8954-2-2 .8954-2 2-2zm0 1c-.5523 0-1 .4477-1 1s.4477 1 1 1 1-.4477 1-1-.4477-1-1-1z" fill="currentColor" fill-rule="nonzero"/>
    </symbol>

    <symbol id="whatsapp" viewBox="0 0 20 20">
      <path d="M15.5 0C17.9853 0 20 2.0147 20 4.5v11c0 2.4853-2.0147 4.5-4.5 4.5h-11C2.0147 20 0 17.9853 0 15.5v-11C0 2.0147 2.0147 0 4.5 0h11zm0 1h-11C2.567 1 1 2.567 1 4.5v11C1 17.433 2.567 19 4.5 19h11c1.933 0 3.5-1.567 3.5-3.5v-11C19 2.567 17.433 1 15.5 1zM9.9993 3.5c3.5894 0 6.4993 2.9098 6.4993 6.4993 0 3.5894-2.9099 6.4993-6.4993 6.4993-.9124 0-1.799-.1885-2.6158-.548l-3.3026.5414c-.3571.0585-.6562-.27-.5646-.62l.74-2.8274C3.7624 12.1154 3.5 11.0759 3.5 9.9993 3.5 6.4098 6.4098 3.5 9.9993 3.5zm0 1C6.962 4.5 4.5 6.9621 4.5 9.9993c0 .9719.252 1.9059.7243 2.73a.5.5 0 01.05.3752l-.5957 2.2761 2.6928-.4414a.5.5 0 01.2934.0408c.7239.34 1.516.5186 2.3345.5186 3.0371 0 5.4993-2.4622 5.4993-5.4993 0-3.0372-2.4622-5.4993-5.4993-5.4993zM9.202 6.6714l.8252.8252c.4313.4314.3961 1.1357-.0434 1.5753l-.1025.1025.9428.9428.1025-.1025c.4395-.4396 1.144-.4748 1.5753-.0434l.8251.8251c.4314.4314.3962 1.1358-.0434 1.5753l-.4562.4562c-.6912.6912-1.7844.746-2.4434.0868L7.0838 9.6145c-.659-.659-.6044-1.7522.0868-2.4434l.4563-.4563c.4395-.4395 1.1439-.4747 1.5752-.0434zm-.8681.7506l-.4563.4562c-.3156.3156-.3387.7773-.0868 1.0292l3.3003 3.3002c.2518.252.7136.2288 1.0292-.0868l.4562-.4562c.064-.064.0676-.1369.0434-.161l-.8251-.8252c-.0242-.0242-.0972-.0205-.1611.0434l-.456.456a.5.5 0 01-.7071 0l-1.65-1.6499a.5.5 0 010-.7071l.456-.456c.064-.064.0677-.137.0435-.1611l-.8252-.8252c-.0241-.0241-.0971-.0205-.161.0435z" fill="currentColor" fill-rule="nonzero"/>
    </symbol>

    <symbol id="eye" viewBox="0 0 144 144">
      <path d="M72 36c26.0147 0 48.7501 14.7422 59.7076 37.7082a3 3 0 010 2.5836C120.7501 99.2578 98.0147 114 72 114c-26.0147 0-48.7501-14.7422-59.7076-37.7082a3 3 0 010-2.5836C23.2499 50.7422 45.9853 36 72 36zm0 6c-23.1811 0-43.4602 12.8375-53.6576 33C28.5398 95.1625 48.8189 108 72 108s43.4602-12.8375 53.6576-33C115.4602 54.8375 95.1811 42 72 42zm0 9.018c13.2549 0 24 10.7451 24 24s-10.7451 24-24 24-24-10.7451-24-24 10.7451-24 24-24zm0 6c-9.9411 0-18 8.0589-18 18s8.0589 18 18 18 18-8.0589 18-18-8.0589-18-18-18z" fill="#1BB3BC" fill-rule="nonzero"/>
    </symbol>

    <symbol id="building" viewBox="0 0 84 84">
      <path d="M54.5496.3346c7.5686 0 14.1175 5.8115 14.5456 12.9995l.0223.7484.0049 63.1207c4.4505.6298 8.7692 1.4146 12.918 2.3476 1.1226.2524 1.828 1.367 1.5755 2.4896-.2524 1.1226-1.3671 1.828-2.4897 1.5755C69.1797 80.9293 55.7514 79.5 41.8167 79.5c-13.787 0-27.0829 1.4003-38.9486 4.0338-1.1233.2493-2.236-.4591-2.4853-1.5824-.2493-1.1233.4592-2.236 1.5825-2.4852 4.1718-.926 8.5118-1.7028 12.982-2.324l.0035-63.0597c0-7.3403 5.8742-13.336 13.2718-13.7276l.7705-.0203h25.5565zm0 4.0843H28.993c-5.2248 0-9.5005 3.973-9.8477 9.0019l-.0228.6617L19.12 76.612c6.2676-.7229 12.76-1.146 19.3778-1.2522l1.4184-.0128.0005-16.6804c0-1.0228.737-1.8734 1.7088-2.0498L42 56.5833c1.0227 0 1.8734.737 2.0498 1.7089l.0335.3745.0023 16.679c7.1367.0781 14.133.5242 20.8643 1.317l-.0042-62.5802c0-5.0086-4.4396-9.3066-9.7306-9.6425l-.6655-.021zM29.5 60.75c1.0227 0 1.8734.737 2.0498 1.7089l.0335.3744v4.6334c0 1.1506-.9327 2.0833-2.0833 2.0833-1.0227 0-1.8734-.737-2.0498-1.7089l-.0335-.3744v-4.6334c0-1.1506.9327-2.0833 2.0833-2.0833zm25 0c1.0227 0 1.8734.737 2.0498 1.7089l.0335.3744v4.6334c0 1.1506-.9327 2.0833-2.0833 2.0833-1.0227 0-1.8734-.737-2.0498-1.7089l-.0335-.3744v-4.6334c0-1.1506.9327-2.0833 2.0833-2.0833zm-25-16.6667c1.0227 0 1.8734.737 2.0498 1.7089l.0335.3745V50.8c0 1.1506-.9327 2.0833-2.0833 2.0833-1.0227 0-1.8734-.737-2.0498-1.7088l-.0335-.3745v-4.6333c0-1.1506.9327-2.0834 2.0833-2.0834zm12.5 0c1.0227 0 1.8734.737 2.0498 1.7089l.0335.3745V50.8c0 1.1506-.9327 2.0833-2.0833 2.0833-1.0227 0-1.8734-.737-2.0498-1.7088l-.0335-.3745v-4.6333c0-1.1506.9327-2.0834 2.0833-2.0834zm12.5 0c1.0227 0 1.8734.737 2.0498 1.7089l.0335.3745V50.8c0 1.1506-.9327 2.0833-2.0833 2.0833-1.0227 0-1.8734-.737-2.0498-1.7088l-.0335-.3745v-4.6333c0-1.1506.9327-2.0834 2.0833-2.0834zm-25-16.6666c1.0227 0 1.8734.737 2.0498 1.7088l.0335.3745v4.6333c0 1.1506-.9327 2.0834-2.0833 2.0834-1.0227 0-1.8734-.737-2.0498-1.7089l-.0335-.3745V29.5c0-1.1506.9327-2.0833 2.0833-2.0833zm12.5 0c1.0227 0 1.8734.737 2.0498 1.7088l.0335.3745v4.6333c0 1.1506-.9327 2.0834-2.0833 2.0834-1.0227 0-1.8734-.737-2.0498-1.7089l-.0335-.3745V29.5c0-1.1506.9327-2.0833 2.0833-2.0833zm12.5 0c1.0227 0 1.8734.737 2.0498 1.7088l.0335.3745v4.6333c0 1.1506-.9327 2.0834-2.0833 2.0834-1.0227 0-1.8734-.737-2.0498-1.7089l-.0335-.3745V29.5c0-1.1506.9327-2.0833 2.0833-2.0833zM29.5 10.75c1.0227 0 1.8734.737 2.0498 1.7089l.0335.3744v4.6334c0 1.1506-.9327 2.0833-2.0833 2.0833-1.0227 0-1.8734-.737-2.0498-1.7089l-.0335-.3744v-4.6334c0-1.1506.9327-2.0833 2.0833-2.0833zm12.5 0c1.0227 0 1.8734.737 2.0498 1.7089l.0335.3744v4.6334c0 1.1506-.9327 2.0833-2.0833 2.0833-1.0227 0-1.8734-.737-2.0498-1.7089l-.0335-.3744v-4.6334c0-1.1506.9327-2.0833 2.0833-2.0833zm12.5 0c1.0227 0 1.8734.737 2.0498 1.7089l.0335.3744v4.6334c0 1.1506-.9327 2.0833-2.0833 2.0833-1.0227 0-1.8734-.737-2.0498-1.7089l-.0335-.3744v-4.6334c0-1.1506.9327-2.0833 2.0833-2.0833z" fill="#1BB3BC" fill-rule="nonzero"/>
    </symbol>

    <symbol id="device" viewBox="0 0 51 83">
      <path d="M42.1571.25c4.2605 0 7.7612 3.3089 8.0707 7.4917l.0222.6032v66.3102c0 4.2605-3.307 7.763-7.4897 8.0727l-.6032.0222H8.8429c-4.2605 0-7.7612-3.3089-8.0707-7.4917L.75 74.6551V8.3449C.75 4.0844 4.057.582 8.2397.2722L8.8429.25h33.3142zm0 4.125H8.8429c-2.0311 0-3.7115 1.5352-3.9411 3.5075l-.0268.4624v66.3102c0 2.033 1.5352 3.7135 3.5059 3.9431l.462.0268h33.3142c2.0311 0 3.7115-1.5352 3.9411-3.5075l.0268-.4624V8.3449c0-2.033-1.5352-3.7135-3.5059-3.9431l-.462-.0268zm-14.5946 66c1.14 0 2.0625.9225 2.0625 2.0625 0 1.0133-.7289 1.8548-1.6915 2.0293l-.371.0332h-4.125c-1.14 0-2.0625-.9225-2.0625-2.0625 0-1.0133.7289-1.8548 1.6915-2.0293l.371-.0332h4.125zM31.6875 8.5c1.14 0 2.0625.9225 2.0625 2.0625 0 1.0133-.7289 1.8548-1.6915 2.0293l-.371.0332h-12.375c-1.14 0-2.0625-.9225-2.0625-2.0625 0-1.0133.7289-1.8548 1.6915-2.0293l.371-.0332h12.375z" fill="#1BB3BC" fill-rule="nonzero"/>
    </symbol>

    <symbol id="target" viewBox="0 0 84 84">
      <path d="M71.2135 56.475c-.5601-.559-1.3819-.7425-2.1423-.5059l-7.6236 2.5342-4.0146-4.0185c5.1047-5.7526 8.2324-13.2892 8.2324-21.559 0-17.9727-14.6531-32.5925-32.667-32.5925C14.9865.3333.3334 14.9531.3334 32.926s14.6531 32.5925 32.665 32.5925c8.2212 0 15.7212-3.0683 21.4692-8.0874l3.9975 4.0019-2.563 7.6711a2.0896 2.0896 0 00.507 2.1375l11.8444 11.8133a2.0984 2.0984 0 001.48.6119c.1594 0 .323-.0163.4824-.0571.7033-.1632 1.2756-.6853 1.5046-1.3706l2.6289-7.8688 7.8867-2.6229c.6869-.2284 1.2102-.7995 1.3737-1.5011.1677-.7057-.0408-1.4481-.556-1.958L71.2135 56.4749zm-38.2151 4.8664C17.2944 61.3414 4.52 48.594 4.52 32.9259S17.2945 4.5104 32.9984 4.5104s28.4804 12.7474 28.4804 28.4155c0 7.115-2.6534 13.6109-7.0008 18.6013l-8.3487-8.3567c2.23-2.8381 3.6155-6.366 3.6155-10.2446 0-9.2149-7.5126-16.7083-16.7464-16.7083-9.2339 0-16.7465 7.4934-16.7465 16.7083 0 9.2148 7.5126 16.7083 16.7465 16.7083 3.8383 0 7.3357-1.3462 10.1632-3.5211l8.3515 8.3605c-4.9844 4.2696-11.4457 6.8678-18.5147 6.8678zm1.5311-29.782c-.8136-.824-2.1403-.8159-2.96-.0082-.8178.8158-.8219 2.1375-.0042 2.9533l8.6426 8.6517c-2.0442 1.4387-4.5229 2.3009-7.2095 2.3009-6.926 0-12.5599-5.6211-12.5599-12.5312s5.634-12.5312 12.5599-12.5312 12.5598 5.621 12.5598 12.5312c0 2.7241-.8984 5.229-2.3836 7.287l-8.645-8.6535zM68.8177 77.711l-8.5327-8.5092 1.489-4.4567 8.5245 8.5336-1.4808 4.4323zm4.4424-7.384l-8.5084-8.5166 4.4176-1.4685 8.5286 8.5091-4.4378 1.476z" fill="#1BB3BC" fill-rule="nonzero"/>
    </symbol>

    <symbol id="delivery" viewBox="0 0 59 59">
      <path d="M39.5699 9.7919l15.7731 9.1514c2.0722 1.1514 3.3382 3.3539 3.2905 5.6902l-.0003 18.202c.0446 2.3724-1.2137 4.5787-3.2656 5.741l-15.8119 9.14c-2.04 1.157-4.5378 1.157-6.5896-.0067l-15.7874-9.1261c-2.0646-1.1695-3.3228-3.3758-3.2785-5.7169l.0003-18.1996a6.4003 6.4003 0 012.814-5.4315l.4617-.2843L32.978 9.7838c2.04-1.157 4.5378-1.157 6.5919.008zM17.2333 24.625v18.273c-.0217 1.1496.588 2.2186 1.601 2.7925L34.6067 54.81l.0566-20.5633-17.43-9.6216zm38.0667.0482l-6.8 3.7634.0002 9.0635c0 .8182-.5896 1.4987-1.3671 1.6398l-.2996.0268c-.8182 0-1.4987-.5895-1.6398-1.367l-.0269-.2996-.0001-7.2169-7.17 3.9667L37.94 54.8l15.772-9.1167c1.0004-.5666 1.61-1.6356 1.5882-2.8165L55.3 24.6733zM3.0536 34.9321c.459-.6774 1.3287-.9101 2.0516-.591l.263.1459 4.1334 2.8c.762.5162.9614 1.5525.4451 2.3146-.4589.6774-1.3287.9101-2.0515.5909l-.2631-.1458-4.1333-2.8c-.7621-.5162-.9614-1.5525-.4452-2.3146zM25.88 17.7533l-6.92 4.0134 17.3728 9.5957 7.0605-3.9124L25.88 17.7533zM.2827 20.7718c.4557-.6795 1.3244-.9162 2.0487-.6004l.2638.1446 8.3 5.5667c.7644.5127.9685 1.548.4558 2.3125-.4557.6795-1.3244.9163-2.0487.6004l-.2638-.1446-8.3-5.5666c-.7645-.5128-.9686-1.5481-.4558-2.3126zm34.3539-8.0967L29.24 15.8033l17.5967 9.7434 6.78-3.7534-15.7054-9.11c-1.02-.5785-2.269-.5785-3.2747-.0082zM2.3502 11.804c.4563-.6791 1.3252-.915 2.0493-.5985l.2636.1448 4.1667 2.8c.764.5134.9671 1.549.4537 2.313-.4564.679-1.3253.915-2.0493.5985l-.2636-.1449-4.1667-2.8c-.764-.5134-.9671-1.5489-.4537-2.3129zm9.7333-1.4c.4564-.6791 1.3253-.915 2.0493-.5985l.2636.1448 4.1667 2.8c.764.5134.9671 1.549.4537 2.313-.4563.679-1.3252.915-2.0493.5985l-.2636-.1449-4.1667-2.8c-.764-.5134-.9671-1.5489-.4537-2.3129zm6.2325-8.432c.4557-.6796 1.3244-.9163 2.0488-.6005l.2637.1446 8.3 5.5667c.7645.5127.9686 1.548.4559 2.3125-.4558.6795-1.3245.9163-2.0488.6004l-.2638-.1446-8.3-5.5666c-.7644-.5128-.9685-1.5481-.4558-2.3126zM5.8502.7371c.4563-.679 1.3252-.915 2.0493-.5985l.2636.1448 4.1667 2.8c.764.5134.9671 1.549.4537 2.313-.4564.679-1.3253.915-2.0493.5985l-.2636-.1448-4.1667-2.8c-.764-.5134-.9671-1.549-.4537-2.313z" fill="#EC0000" fill-rule="nonzero"/>
    </symbol>

    <symbol id="charts" viewBox="0 0 68 68">
      <path d="M57.2467.667c5.3715 0 9.7627 4.1994 10.0695 9.494l.0171.5927V42.294c0 5.5738-4.5195 10.0933-10.0933 10.0933l-16.1367-.0003 2.58 11.61 1.9997.0027c.8182 0 1.4987.5896 1.6398 1.367l.0269.2996c0 .8182-.5896 1.4987-1.3671 1.6398l-.2996.0269H22.3497c-.9205 0-1.6667-.7462-1.6667-1.6667 0-.8182.5896-1.4987 1.367-1.6398l.2997-.0268 1.997-.0027 2.58-11.61-16.1734.0003C5.183 52.3873.6667 47.8711.6667 42.3007v-31.537C.6667 5.3863 4.8686.9912 10.1669.684L10.76.667h46.4867zm-19.56 51.72h-7.3434L27.76 63.997h12.51l-2.5833-11.61zM64 40.6673H4v1.6334c0 3.7295 3.0238 6.7533 6.7533 6.7533H57.24c3.7329 0 6.76-3.0271 6.76-6.76v-1.6267zm-6.7533-36.667H10.76c-3.5636 0-6.4834 2.7586-6.7415 6.2585L4 10.7637v26.57h60v-26.58c0-3.56-2.7552-6.477-6.2494-6.7348l-.504-.0186zM47.518 8.33c.4208-.8187 1.4256-1.1413 2.2442-.7205.7278.374 1.0635 1.2095.8336 1.9655l-.113.2787-8.536 16.6085c-.5673 1.1037-2.0632 1.2002-2.7882.2759l-.1642-.2523-3.9313-7.3587L26.842 33.056c-.5474.9274-1.7907 1.0811-2.5504.3926l-.2123-.2319-3.5946-4.7337-3.473 4.7144c-.546.741-1.5894.8992-2.3304.3533-.6588-.4853-.857-1.3636-.5094-2.0733l.156-.2571 4.7948-6.5084c.594-.8065 1.7357-.895 2.4487-.2585l.2205.239 3.441 4.5318 8.4673-14.3457c.6059-1.0265 2.0274-1.083 2.732-.2018l.1733.2636 3.8304 7.1696 7.0822-13.78z" fill="#EC0000" fill-rule="nonzero"/>
    </symbol>

    <symbol id="rocket" viewBox="0 0 120 120">
      <path d="M119.927 11.002c-2.2749 18.705-7.9765 37.236-18.3457 53.0811 8.347 10.7157 2.9962 26.009-9.699 42.8733l-2.122 2.748-2.2449 2.7727c-.384.464-.773.929-1.1665 1.3948l-2.4177 2.8044c-3.5345 4.0176-9.5594 4.4152-13.5945 1.0691l-.6906-.6293-22.9303-22.9285-10.0699 10.0805c-1.0412 1.0416-2.6575 1.1575-3.8267.3475l-.4155-.3471-16.626-16.6261c-1.0416-1.0416-1.1576-2.6586-.348-3.8284l.347-.4157 10.0771-10.0907L2.8821 50.33c-3.7874-3.7887-3.821-9.8313-.226-13.6427l.672-.6485 1.4031-1.2229 2.7919-2.362 2.7703-2.2454a143.9644 143.9644 0 012.746-2.1226l2.7186-1.994c15.774-11.244 30.011-15.6097 40.151-7.708C71.7505 8.0154 90.296 2.3268 109.0117.0731c6.3499-.7676 11.6915 4.5792 10.9153 10.9288zM97.843 69.4008l-1.4954 1.9369c-2.1965 2.7656-4.5597 5.4257-7.0973 7.9643-12.1149 12.1193-22.8569 17.1452-31.8578 17.0756l16.496 16.494c1.563 1.5635 4.0883 1.4879 5.5375-.1594 15.1595-17.2517 23.5126-33.5213 18.417-43.3114zm-67.7472 8.1488l-7.9547 7.9694 12.3831 12.3832 7.9496-7.9626-12.378-12.39zm79.6353-71.5175c-18.271 2.2-36.3745 7.8402-51.6037 18.0875l-.2247.2749a2.9866 2.9866 0 01-1.25.7502c-4.1562 2.9032-8.0816 6.169-11.7244 9.813C30.0553 49.8362 27.3917 61.206 31.15 69.3201l.47.9274c.0728.131.1417.2498.2054.3558l.3086.4762c.0373.052.0665.0898.0863.1128l16.5113 16.5233.4958.3665c.3456.2259.837.5062 1.469.7989 8.0792 3.7411 19.4289 1.0646 34.3113-13.8232 3.647-3.6484 6.9156-7.5787 9.8303-11.7344.1245-.4594.3739-.8883.7339-1.2484l.2779-.246c10.2511-15.2139 15.9011-33.2982 18.1214-51.5538.3034-2.4818-1.7565-4.5435-4.24-4.243zM50.5792 22.1226c-9.7881-5.097-26.0582 3.263-43.29 18.4245-1.4859 1.3055-1.6965 3.4809-.5843 5.0428l.4198.4959 16.5183 16.528c-.0857-9.023 4.928-19.7812 17.0427-31.9003 2.5376-2.5385 5.1972-4.9022 7.9628-7.0988l1.9307-1.4921zm19.2947 4.5298c6.4873-6.4823 17.001-6.4823 23.4894.0012 6.4876 6.49 6.4876 17.0093 0 23.4993-6.4876 6.49-17.003 6.49-23.4906 0-6.4876-6.49-6.4876-17.0093.0012-23.5005zm19.248 4.2466c-4.1447-4.1415-10.863-4.1415-15.0066-.0012-4.1444 4.146-4.1444 10.865 0 15.0109 4.1444 4.146 10.861 4.146 15.0054 0 4.1444-4.146 4.1444-10.865.0012-15.0097z" fill="#1BB3BC" fill-rule="nonzero"/>
    </symbol>

    <symbol id="location" viewBox="0 0 48 68">
      <path d="M23.9993.6653c12.9026 0 23.3334 10.8908 23.3334 24.2867 0 7.3372-2.6075 13.1027-8.2257 20.6255l-1.665 2.176-2.3997 3.0875-1.35 1.8139c-1.4988 2.0845-2.4814 3.7662-3.0683 5.3319-.3335.8895-.5332 1.7325-.5997 2.5482l-.025.607c0 3.4044-2.6693 6.19-6 6.19-3.164 0-5.7314-2.514-5.9802-5.6843l-.0198-.5057c0-1.004-.2078-2.0434-.6246-3.1552-.5136-1.37-1.3301-2.8288-2.5302-4.5685l-.846-1.188-1.0421-1.3893-3.28-4.2265C3.516 38.5755.666 32.6227.666 24.952.666 11.5561 11.0968.6653 23.9993.6653zm0 3.3334c-11.0286 0-20 9.367-20 20.9533 0 6.453 2.3411 11.6364 7.558 18.6241l4.0537 5.249 1.0797 1.4399.3222.444c1.6557 2.303 2.7745 4.2178 3.483 6.1077.5507 1.469.8368 2.8994.8368 4.3253 0 1.5945 1.2095 2.8567 2.6666 2.8567 1.3451 0 2.4792-1.0755 2.6457-2.495l.021-.3617c0-1.4259.286-2.8563.8368-4.3253.7084-1.8899 1.8273-3.8047 3.483-6.1076l1.0166-1.3772 3.674-4.745c5.7536-7.5077 8.323-12.8746 8.323-19.6349 0-11.5863-8.9714-20.9533-20-20.9533zM24 15.6667c4.6005 0 8.3333 3.7328 8.3333 8.3333 0 4.6005-3.7328 8.3333-8.3333 8.3333-4.6005 0-8.3333-3.7328-8.3333-8.3333 0-4.6005 3.7328-8.3333 8.3333-8.3333zM24 19c-2.7595 0-5 2.2405-5 5s2.2405 5 5 5 5-2.2405 5-5-2.2405-5-5-5z" fill="#EC0000" fill-rule="nonzero"/>
    </symbol>

    <symbol id="diamond" viewBox="0 0 120 108">
      <path d="M28.56-.0018h62.88l.2874.0138.4876.0897c.4484.1184.863.3405 1.2116.6485l.2671.2684L117.58 30.8738c1.7929 2.2445 2.5874 5.0081 2.3935 7.7071l.0265.3723c0 .432-.0913.8425-.2556 1.2136a10.9511 10.9511 0 01-2.3572 4.746l-49.851 59.604c-1.7256 2.0307-4.0696 3.1734-6.4911 3.4281L60 108l-.1404-.0032c-2.7306-.0348-5.4545-1.1955-7.3957-3.48L2.6289 44.932a10.9988 10.9988 0 01-2.366-4.753C.0942 39.8092 0 39.3923 0 38.9533l.0294-.4219a11.0289 11.0289 0 012.3919-7.659l23.796-29.748a3 3 0 011.5664-1.024l.3852-.0765.3911-.0256zM57 41.9502H7.956L57 100.5882v-58.638zm55.044 0H63v58.632l49.044-58.632zM28.692 7.6242L7.108 34.6186a5.0553 5.0553 0 00-.7661 1.3313l47.8381.0003-25.488-28.326zm62.61.006L65.814 35.9504h47.8449a5.0565 5.0565 0 00-.7656-1.3302L91.302 7.6302zm-6.6-1.638h-49.41l24.7064 27.4551L84.702 5.9922z" fill="#1BB3BC" fill-rule="nonzero"/>
    </symbol>

    <symbol id="clock" viewBox="0 0 68 68">
      <path d="M34 .6667C52.4105.6667 67.3333 15.5895 67.3333 34S52.4105 67.3333 34 67.3333.6667 52.4105.6667 34c0-9.2052 3.7307-17.5386 9.7627-23.5706S24.7948.6667 34 .6667zM34 4c-8.2848 0-15.7848 3.3576-21.2136 8.7864C7.3576 18.2152 4 25.7152 4 34c0 16.5695 13.4305 30 30 30 16.5695 0 30-13.4305 30-30 0-8.2848-3.3576-15.7848-8.7864-21.2136C49.7848 7.3576 42.2848 4 34 4zm1.6667 11.6667c.8182 0 1.4987.5896 1.6398 1.367l.0268.2996V35.67c0 .8182-.5896 1.4987-1.367 1.6398l-.2996.0269H17.3333c-.9204 0-1.6666-.7462-1.6666-1.6667 0-.8182.5896-1.4987 1.367-1.6398l.2996-.0269H34v-16.67c0-.9204.7462-1.6666 1.6667-1.6666z" fill="#EC0000" fill-rule="nonzero"/>
    </symbol>

    <symbol id="handshake" viewBox="0 0 120 59">
      <path d="M117 0H93c-1.6582 0-3 1.3418-3 3v7.5685l-20.8477-8.339c-3.8437-1.538-7.828-3.129-13.2774-1.1836L46.1924 6H30V3c0-1.6582-1.3418-3-3-3H3C1.3418 0 0 1.3418 0 3v39.082C0 48.6533 5.3438 54 11.918 54H27c1.6582 0 3-1.3418 3-3v-6.1106l9.8379 7.1536c6.0293 4.3857 13.0957 6.58 20.1621 6.58 7.0664 0 14.1328-2.1943 20.1621-6.58l9.3208-6.7775.5171.465V51c0 1.6582 1.3418 3 3 3h15.082C114.6563 54 120 48.6533 120 42.082V3c0-1.6582-1.3418-3-3-3zM58.2363 6.5479c2.789-.9786 5.0215-.208 8.6895 1.2539L90 17.0314v20.4419l-.1165.0846-26.0632-23.431c-.8672-.7792-2.1035-.9931-3.1933-.5214-.1641.0703-4.1836 1.8105-10.957 5.4756-2.7891 1.5029-6.1759 2.0771-7.2481.249-.4453-.75-.5684-1.4795-.375-2.2295.375-1.459 1.9043-3.041 4.1367-4.3623l12.0527-6.1904zM24 48H11.918C8.6543 48 6 45.3457 6 42.082V6h18v42zm52.6348-.8086c-9.9493 7.2363-23.3203 7.2363-33.2696 0L30 37.4733V12h8.0933c-.8621 1.1503-1.5308 2.3481-1.853 3.6035-.5977 2.3057-.2462 4.6494 1.0136 6.7793 2.7422 4.6377 8.871 5.4375 15.2754 1.9776 3.9785-2.1563 6.996-3.63 8.7422-4.4532l23.6503 21.2586-8.287 6.0256zM114 42.082c0 3.2637-2.6543 5.918-5.918 5.918H96V6h18v36.082z" fill="#1BB3BC" fill-rule="nonzero"/>
    </symbol>

    <symbol id="linkedin-alt" viewBox="0 0 18 18">
      <path d="M4.2 2.2c0 1-.8 1.9-2 1.9s-2-.8-2-1.9c0-1.1.8-1.9 2-1.9s1.9.8 2 1.9zm-4 15.5V5.6H4v12.2H.2zM6.3 9.4c0-1.5 0-2.8-.1-3.9h3.3l.2 1.7h.1c.5-.8 1.7-2 3.8-2 2.5 0 4.4 1.7 4.4 5.3v7.2h-3.8V11c0-1.6-.5-2.6-1.9-2.6-1 0-1.7.7-1.9 1.4-.1.2-.1.6-.1.9v7h-4V9.4z" fill="currentColor" />
    </symbol>

    <symbol id="global" viewBox="0 0 68 68">
      <path d="M34 .6667C52.4105.6667 67.3333 15.5895 67.3333 34S52.4105 67.3333 34 67.3333.6667 52.4105.6667 34 15.5895.6667 34 .6667zM45.072 47.336H22.928c1.9287 5.6007 5.1028 10.9303 9.5222 15.639l.9831 1.0149L34 64l.5649-.0052c4.5841-4.6017 7.9308-9.8414 10.0419-15.3763l.4652-1.2824zm-25.6547-.0005l-12.2986-.0009c4.1167 8.2836 11.9497 14.394 21.318 16.1505-4.2013-4.925-7.2073-10.4155-9.0194-16.1496zm41.464-.0009l-12.2986.001c-1.812 5.734-4.8181 11.2244-9.0181 16.1502 9.0325-1.6944 16.6385-7.4367 20.8615-15.272l.4552-.8792zM18.504 24.0002l-12.7975.0008C4.6013 27.1285 4 30.494 4 34c0 3.5073.6017 6.874 1.7076 10.0023l12.7964-.0007c-1.4232-6.1187-1.5248-12.4386-.305-18.586l.305-1.4154zm27.5624.002H21.9336c-1.6613 6.5769-1.661 13.4235.0009 20.0003h24.131c1.662-6.5768 1.6622-13.4234.0009-20.0003zm16.2271-.0012l-12.7975-.0008c1.5327 6.5893 1.5326 13.412 0 20.0014l12.7964.0007C63.3983 40.874 64 37.5073 64 34c0-3.506-.6013-6.8715-1.7065-9.999zM28.4372 4.5133l-.4835.0962C18.7982 6.4827 11.1624 12.526 7.117 20.6687l12.2992.0004c1.8123-5.7362 4.8193-11.2285 9.021-16.1558zM34 4l-.564.007c-4.9367 4.9533-8.4397 10.651-10.5088 16.6605h22.1456c-1.9286-5.6014-5.103-10.9318-9.5229-15.641L34.56 4.0066 34 4zm5.5633.5148l.485.5768c3.9486 4.7772 6.7938 10.0647 8.5355 15.5775l12.2992-.0004c-4.1163-8.2854-11.9501-14.3972-21.3197-16.154z" fill="currentColor" fill-rule="nonzero"/>
    </symbol>

    <symbol id="play" viewBox="0 0 74.5 74.5">
      <circle cx="37.25" cy="37.25" r="36" fill="none" stroke="#fff" stroke-width="2.5"/><path data-name="Polígono 1" d="M57.331 37.665L24.987 56.338V18.991z" fill="none" stroke="#fff" stroke-width="2.5"/>
    </symbol>
  </defs>
</svg>
