<svg>
  <use xlink:href="{{ path '/images/icons/sprite.svg#arrow' }}"></use>
</svg>
<svg>
  <use xlink:href="#search"></use>
</svg>
<svg>
  <use xlink:href="#back-arrow"></use>
</svg>
<svg>
  <use xlink:href="#facebook"></use>
</svg>
<svg>
  <use xlink:href="#twitter"></use>
</svg>
<svg>
  <use xlink:href="#linkedin"></use>
</svg>
<svg>
  <use xlink:href="#whatsapp"></use>
</svg>
<svg>
  <use xlink:href="#eye"></use>
</svg>
<svg>
  <use xlink:href="#building"></use>
</svg>
<svg>
  <use xlink:href="#device"></use>
</svg>
<svg>
  <use xlink:href="#target"></use>
</svg>
<svg>
  <use xlink:href="#delivery"></use>
</svg>
<svg>
  <use xlink:href="#charts"></use>
</svg>
<svg>
  <use xlink:href="#rocket"></use>
</svg>
<svg>
  <use xlink:href="#location"></use>
</svg>
<svg>
  <use xlink:href="#diamond"></use>
</svg>
<svg>
  <use xlink:href="#clock"></use>
</svg>
<svg>
  <use xlink:href="#handshake"></use>
</svg>
<svg>
  <use xlink:href="#linkedin-alt"></use>
</svg>
<svg>
  <use xlink:href="#global"></use>
</svg>