*,
*::after,
*::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: $ff, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: inherit;
  color: var(--blue-100);
}

abbr[title] {
  border-bottom: 0;
  text-decoration: none;

  strong {
    font-family: $ff-bold;
    font-weight: 700;
  }
}

strong {
  font-family: $ff-bold;
  font-weight: 700;
}

img,
iframe,
video {
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

menu,
ul,
ol,
li,
dd {
  padding: 0;
  margin: 0;
  list-style-position: outside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: var(--primary-color);
  transition: color $normal;

  &:hover,
  &:focus {
    color: var(--secondary-color);
  }
  &:focus {
    outline-offset: 0.25rem;
  }
}

button:focus {
  outline-offset: 0.25rem;
}

::-moz-selection {
  color: var(--white);
  background-color: var(--primary-color);
}

::selection {
  color: var(--white);
  background-color: var(--primary-color);
}
