// Display
// ------------------------------------------------------
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.d-none {
  display: none !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

// Wrap
// ------------------------------------------------------
.wrap {
  flex-wrap: wrap !important;
}

// Alignment
// ------------------------------------------------------
.align-start {
  align-items: flex-start !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-between {
  justify-content: space-between !important;
}

// Visibility
// ------------------------------------------------------
.ovh {
  overflow: hidden !important;
}
.ovy {
  overflow-y: hidden !important;
}

// Offsets
// ------------------------------------------------------
$offset: (
  '0': 0,
  '0-5': 0.5rem,
  '1': 1rem,
  '1-5': 1.5rem,
  '2': 2rem,
  '2-5': 2.5rem,
  '3': 3rem,
  '3-5': 3.5rem,
);
$directions: (
  'default': null,
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
);

@each $key, $value in $offset {
  @each $keyDir, $dir in $directions {
    @if ($keyDir == 'default') {
      .p-#{$key} {
        padding: $value !important;
      }
      .m-#{$key} {
        margin: $value !important;
      }
    } @else {
      .p#{$keyDir}-#{$key} {
        padding-#{$dir}: $value !important;
      }
      .m#{$keyDir}-#{$key} {
        margin-#{$dir}: $value !important;
      }
    }
  }
}

// Events
// ------------------------------------------------------
.no-events {
  pointer-events: none !important;
}

// Backdrop
// ------------------------------------------------------
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms;
}
