<section class="services-list{{#if listModifier}} {{ listModifier }}{{/if}}">
  {{!-- TITLE --}}
  {{> '@title' }}

  <div class="services-list__content">
    {{#each cards}}
      {{> '@card' modifier="card--services" }}       
    {{/each}}
  </div>
</section>