// Services List (aside)
// -----------------------

.services-list {
  .card__img {
    @include mq($from: tablet) {
      height: 20rem;
    }
  }
  .title {
    margin-bottom: 2.5rem;
  }
  .card__heading {
    font-family: $ff;
    font-weight: $regular;
  }
  // MODIFERS
  &--1col {
    padding: 2.5rem 0 3rem 0;
    position: relative;

    .services-list__content {
      .card--services {
        @include mq($from: tablet) {
          display: flex;
          justify-content: center;
        }
      }
      .card-header {
        @include mq($from: tablet) {
          flex: 0 1 35rem;
        }
      }
      .card-body {
        @include mq($from: tablet) {
          flex: 1 1 50%;
          padding-left: 2rem;
        }
      }
    }
  }
  &--2col {
    padding: 0rem 0 3rem 0;
    position: relative;

    .services-list__content {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      @include mq($from: tablet) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  &--3col {
    padding: 2.5rem 0 4rem 0;
    position: relative;

    &::before {
      content: '';
      width: 100vw;
      height: 100%;
      margin-left: calc(50% - 50vw);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: var(--blue-100);
      z-index: z(behind);
    }

    .services-list__content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(22.1875rem, 1fr));
      grid-gap: 2rem;
    }
  }

  // Childs
  &__content {
  }

  // &__item {
  //   padding-top: 1.25rem;
  //   padding-bottom: 1.25rem;
  //   border-bottom: 0.0625rem solid var(--gray-100);

  //   @include mq($from: tablet) {
  //     padding-top: 1.875rem;
  //     padding-bottom: 1.875rem;
  //   }
  // }
}
