<div class="app">
  {{ render '@header' }}

  <main role="main" class="app-content">
    <div class="container">
      {{!-- HERO --}}
      {{> '@hero' }}

      {{!-- SEARCH --}}
      {{> '@search' }}

      {{!-- CARDS --}}
      {{render '@cards' }}
    </div>
  </main>

  {{ render '@footer' }}
</div>