<div class="app">
  {{ render '@header' }}

  <main role="main" class="app-content services-page">
    {{!-- HERO --}}
    {{> '@hero' }}

    <div class="services-content">
      <div class="container">

        {{ render '@services-list--services-2-col' }}

        {{ render '@services-list--services-3-col' }}
        
        {{ render '@services-list--default' }}
        
      </div>
    </div>
  </main>

  {{ render '@footer' }}
</div>