.spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	background-color: var(--primary-color);

	&__icon {
		width: 4rem;
		height: 4rem;
		color: var(--secondary-color);
		opacity: 0;
		transform: translate3d(0, -1rem, 0);
		transform-origin: center;
		animation: show 1000ms ease-in 1 forwards,
			opacity 2000ms ease-in 1000ms infinite forwards;
	}
}
