<div class="spinner">
  <svg class="spinner__icon" viewBox="0 0 512.001 512.001" preserveAspectRatio="xMidYMin">
    <g fill="currentColor">
      <path d="m400.001 336h-288c-61.757 0-112-50.243-112-112s50.243-112 112-112c5.673 0 11.298.421 16.844 1.258 7.332-63.663 61.56-113.258 127.156-113.258s119.824 49.595 127.156 113.258c5.546-.837 11.171-1.258 16.844-1.258 61.757 0 112 50.243 112 112s-50.243 112-112 112zm-288-192c-44.112 0-80 35.888-80 80s35.888 80 80 80h288c44.112 0 80-35.888 80-80s-35.888-80-80-80c-9.204 0-18.216 1.543-26.784 4.587-5.044 1.792-10.65.943-14.938-2.264-4.287-3.206-6.687-8.343-6.394-13.688.077-1.423.115-2.939.115-4.635 0-52.935-43.065-96-96-96s-96 43.065-96 96c0 1.696.038 3.212.115 4.635.293 5.345-2.106 10.482-6.394 13.688-4.288 3.207-9.896 4.055-14.938 2.264-8.566-3.044-17.578-4.587-26.782-4.587z"/>
      <path d="m215.986 424.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.902-7.353 14.837-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
      <path d="m79.986 424.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.837-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
      <path d="m367.986 424.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.902-7.353 14.836-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
      <path d="m215.986 512.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.902-7.353 14.837-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
      <path d="m287.986 456.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.837-9.338 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
      <path d="m359.986 512.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.836-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
      <path d="m143.986 456.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.836-9.338 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
      <path d="m71.986 512.001c-3.05 0-6.133-.87-8.86-2.688-7.353-4.902-9.34-14.836-4.438-22.188l16-24c4.901-7.353 14.837-9.339 22.188-4.438 7.353 4.902 9.34 14.836 4.438 22.188l-16 24c-3.084 4.625-8.158 7.126-13.328 7.126z"/>
    </g>
  </svg>
</div>