<div class="search">
  <div class="container">
    <form action="" class="search-form">
      <svg class="search-form__icon" width="6" height="10" viewBox="0 0 28 48">
        <use xlink:href="#search"></use>
      </svg>
      <input class="search-form__input" type="search" placeholder="Busca por título, entradilla, palabra clave..." />
      <button class="search-form__button">
        <svg width="14" height="24" viewBox="0 0 28 48">
          <use xlink:href="#arrow"></use>
        </svg>
      </button>
    </form>
  </div>
</div>