// ------------------------------------------------------
// Search
// ------------------------------------------------------

.search {
  padding: 1rem;
  border-bottom: 0.0625rem solid var(--gray-100);

  @include mq($from: tablet) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .container {
    @include wrapAnything($maxWidth: 45rem);
  }

  // Childs
  &-form {
    display: flex;
    align-items: center;

    // Childs
    &__icon {
      width: 1.25rem;
      height: 1.25rem;

      @include mq($from: tablet) {
        width: 2.25rem;
        height: 2.25rem;
      }
    }

    &__input {
      flex-grow: 1;
      padding: 0.5rem;
      border: 0;
      color: var(--gray-300);

      &:focus {
        outline-color: var(--primary-color);
      }

      &::placeholder {
        color: var(--gray-250);
      }
    }

    &__button {
      display: flex;
      padding: 0.375rem 0.9375rem;
      border: 0;
      color: var(--primary-color);
      background-color: transparent;
      transition: color 200ms ease-in-out;

      &:hover,
      &:focus {
        color: var(--primary-darken-color);
      }
    }
  }
}
