<section class="cards">
  <div class="container">
    <div class="cards-wrapper" data-role="cards-region">
      {{#each cards}}
        {{> '@card' }}
      {{/each}}
    </div>
  </div>

  <div class="cards__action-wrapper">
    {{> '@button' }}
  </div>
  
</section>