// ------------------------------------------------------
// Address
// ------------------------------------------------------

.address {
  display: flex;
  flex-direction: column;

  @include mq($from: tablet) {
    flex-direction: row-reverse;
  }

  // Childs
  &-header {
    @include mq($from: tablet) {
      flex: 0 0 50%;
      height: 12rem;
    }
    @include mq($from: tablet) {
      height: 16rem;
    }
    @include mq($from: desktop) {
      height: 20rem;
    }
  }

  &-body {
    padding-top: 1.5rem;

    @include mq($from: tablet) {
      flex: 0 0 50%;
      padding-top: 2rem;
      padding-right: 3rem;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: all 300ms ease-in;
  }

  &__heading {
    margin-bottom: 1.25rem;
    font-family: $ff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.12;
    color: var(--primary-color);

    @include mq($from: tablet) {
      margin-bottom: 1.5rem;
      font-size: 1.75rem;
    }
  }

  &__text {
    margin-bottom: 1.5rem;
    font-style: normal;
    line-height: 1.5;
    color: var(--secondary-color);

    @include mq($from: tablet) {
      margin-bottom: 1.875rem;
      font-size: 1.125rem;
    }
  }
}
