<div class="address">
  <header class="address-header" data-aos='fade' data-aos-duration='700'>
    <img src="{{ path '/images/{{ src }}' }}" alt="" class="address__img">
  </header>
  <div class="address-body" data-aos='fade-up' data-aos-duration='400'>

    <h2 class="address__heading">Datos de contacto</h2>

    <address class="address__text">
      <strong>Ciudad Grupo Santander (CGS)</strong><br />
      Avda. de Cantabria, S/N,<br />
      Boadilla del Monte, Madrid. 28660
    </address>

    {{> '@button' modifier="button--secondary" }}
  </div>
</div>