<div class="app">
  {{ render '@header' }}

  <main role="main" class="app-content contact-page">
    {{!-- HERO --}}
    {{> '@hero' }}

    <div class="contact-content">
      <div class="container">
        {{!-- ADDRESS --}}
        {{ render '@address' }}
      </div>
    </div>

    {{!-- MAP --}}
    {{ render '@map' }}
  </main>

  {{ render '@footer' }}
</div>