// -------------------------
// Contact
// -------------------------

.contact-page {
  .container {
    @include wrapAnything($maxWidth: 72.5rem);
  }

  .contact-content {
    padding: 2.5rem 1rem;

    @include mq($from: tablet) {
      padding-top: 4.25rem;
      padding-bottom: 4.25rem;
    }
  }
}
