// ------------------------------------------------------
// Back Arrow
// ------------------------------------------------------

.back-button {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 300ms ease-in;

  &:hover,
  &:focus {
    color: var(--primary-darken-color);

    > svg {
      transform: translateX(-0.25rem);
    }
  }

  > svg {
    margin-right: 0.5rem;
    transition: transform 150ms ease-in;
  }
}
