<section class="slider">

  <div class="main-slider">
    <div class="slide slide-video" data-role="video">
      <button class="slide-video__play" data-video-role="init-player">
        <svg width="72" height="72" viewBox="0 0 74.5 74.5">
        <use xlink:href="#play"></use>
      </svg>
      </button>
      <video poster="{{ path '/images/home-slide-1.jpg' }}" width="1440" height="810" src="{{ path '/videos/SANTANDER-GLOBAL-SERVICES.mp4' }}" data-video-role="video"></video>
    </div>
    <div class="slide">
      <h2 class="slide__title">Santander Consumer Finance Global Services</h2>
      <img width="1440" height="810" src="{{ path '/images/home-slide-2.jpg' }}" alt="Gente en una oficina">
    </div>
  </div>

  {{!-- RAW-TEXT --}}
  {{> '@raw-text' }}
</section>