// ------------------------------------------------------
// SLIDER
// ------------------------------------------------------

.slider {
  // Override Flickity
  .flickity-prev-next-button {
    background: rgba(255, 255, 255, 0);
    color: #fff;

    &:hover,
    &:focus {
      background: rgba(255, 255, 255, 0);
    }

    &.previous {
      @include mq($from: desktop) {
        left: 10%;
      }
    }
    &.next {
      @include mq($from: desktop) {
        right: 10%;
      }
    }
  }

  .flickity-page-dots {
    width: 20rem;
    left: 50%;
    transform: translateX(-50%);

    @include mq($from: tablet) {
      bottom: 52px;
    }

    .dot {
      width: 0.5rem;
      height: 0.5rem;
      margin: 0 0.25rem;

      &.is-selected {
        background: var(--primary-color);
      }
    }
  }
}

.main-slider {
}

.slide {
  width: 100%;
  position: relative;

  // CHILDS
  > img,
  > video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    max-width: 25ch;
    font-size: 1.5rem;
    line-height: 1.2;
    text-align: center;
    color: var(--white);
    text-shadow: 0.1875rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include mq($from: tablet) {
      font-size: 2rem;
    }
    @include mq($from: desktop) {
      font-size: 3rem;
      line-height: 1.25;
    }
  }

  // TYPES
  &-video {
    height: 0;
    padding-top: 56.25%;

    > video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__play {
      display: block;
      padding: 0;
      border: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      background-color: transparent;
      transform: translate(-50%, -50%);
      transition: transform 100ms ease-in;

      &:hover,
      &:focus {
        transition: transform 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
        transform: translate(-50%, -50%) scale(1.2);
      }

      > svg {
        pointer-events: none;
      }
    }
  }
}
