<section class="values">
  
  {{#each values}}
    <div class="value" {{{ valueAttributes }}}>
      <svg class="value__icon">
        <use xlink:href="#{{ valueIcon }}"></use>
      </svg>
      <h3 class="value__heading">{{ valueTitle }}</h3>
      <p class="value__text">{{ valueText }}</p>
    </div>
  {{/each}}

</section>