// ------------------------------------------------------
// VALUES
// ------------------------------------------------------

.values {
  margin: 3rem auto;
  @include wrapAnything($maxWidth: 57.5rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem 1.875rem;

  @include mq($from: tablet) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem 2rem;
  }
}

.value {
  padding: 2rem;
  position: relative;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  @include mq($from: desktop) {
    padding: 2.5rem 0rem 2rem;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__icon {
    display: block;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    color: var(--white);

    @include mq($from: desktop) {
      width: 7rem;
      height: 7rem;
    }
  }

  &__heading {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: $regular;
    color: var(--blue-300);

    @include mq($from: tablet) {
      font-size: 1.5rem;
    }
  }
}
