// -------------------------
// Article
// -------------------------

.article-page {
  .container {
    @include wrapAnything($maxWidth: 72.5rem);

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @include mq($from: tablet) {
      grid-template-columns: calc(65% - 2rem) 35%;
      justify-content: space-between;
    }
    @include mq($from: desktop) {
      grid-template-columns: 59% 28%;
    }
  }

  .article-content {
    padding: 1.5rem 1rem 3rem;

    @include mq($from: tablet) {
      padding-bottom: 4rem;
    }
    @include mq($from: desktop) {
      padding-bottom: 5rem;
    }
  }

  .article-info {
    h1 {
      margin-bottom: 1.75rem;
      font-size: 1.75rem;

      @include mq($from: tablet) {
        margin-bottom: 2.25rem;
        font-size: 2.25rem;
      }
    }

    h2 {
      margin-top: 1.875rem;
      margin-bottom: 0.25rem;
      font-size: 1.125rem;

      @include mq($from: tablet) {
        font-size: 1.375rem;
      }
    }
  }

  .article-related {
    @include mq($from: tablet) {
      padding-top: 6.5rem;
    }
  }
}
