<div class="app">
  {{ render '@header' }}

  <main role="main" class="app-content article-page">
    {{!-- HERO --}}
    {{> '@hero' modifier="banner--large" bannerTitle=false }}
    
    <div class="article-content">
      <div class="container">

        <section class="article-info" data-aos="fade-up" data-aos-duration="400">
          {{!-- BACK BUTTON --}}
          {{render '@back' }}

          {{!-- DATE --}}
          {{render '@date' }}

          <h1>Adapta tu negocio a la pandemia</h1>

          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt, eveniet. Id dolores facilis veritatis fuga necessitatibus. Quod sequi eveniet iure illum quidem tempora. Veniam id itaque explicabo, non quis dolore, eius perferendis laborum amet odit quasi illo pariatur reprehenderit laudantium inventore aspernatur recusandae! Possimus, obcaecati nesciunt repudiandae tenetur eligendi sapiente. Labore, vero. Possimus.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab corrupti suscipit, nostrum quibusdam voluptatibus iste modi excepturi aspernatur voluptas rerum maiores! Voluptatem, commodi sequi hic quo accusantium dolores. Dolorum itaque harum doloribus ipsam animi unde. Ratione, aspernatur dolorem consectetur neque quam pariatur ad voluptate, quaerat expedita architecto, molestiae tempore eligendi beatae harum eveniet ipsam error nihil earum veritatis itaque! Dolorem, fugiat illum aliquam consequuntur in omnis quam nihil dolores veniam doloremque sunt facere reiciendis a officiis voluptatibus incidunt excepturi ea aspernatur dolorum accusantium recusandae. Ipsa repudiandae aliquam quod.</p>

          {{!-- IMAGE --}}
          {{render '@image' }}

          <h2>Lorem ipsum dolor, sit amet elit. Voluptatum, officia mollitia.</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae blanditiis hic nihil facere natus doloribus doloremque porro animi cum enim! Cupiditate ipsa vitae doloremque repellat expedita illo reiciendis, vel animi. Explicabo sapiente itaque fugiat similique. Voluptatem incidunt ipsum aliquam cum dignissimos ullam exercitationem excepturi! Eveniet distinctio nihil, cupiditate accusantium esse, exercitationem culpa quidem, quibusdam iste omnis totam repudiandae ullam vero!</p>

          <h2>Voluptatum, officia mollitia.</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quos asperiores sequi. Praesentium distinctio id corrupti assumenda fugiat accusantium nostrum voluptate sint vel tenetur culpa quisquam, animi corporis quibusdam eum necessitatibus facilis, eveniet incidunt eligendi! Ratione blanditiis ab sunt aliquam saepe impedit neque? Officia sit incidunt dolor sunt? Sunt esse odit reprehenderit aperiam accusantium sequi. Autem, distinctio. Non labore animi obcaecati voluptates inventore quas veritatis nihil culpa, harum quasi dolorem rem vel corrupti officia iste modi itaque.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla tempora dolore sit deleniti, maiores et deserunt eligendi alias. Architecto iusto ratione animi officia impedit nobis est optio ipsa sed quo quia quisquam eius laboriosam, amet non enim dolores repudiandae?</p>

          {{!-- SHARE --}}
          {{render '@share' }}
        </section>

        <aside class="article-related">
          {{!-- RELATED LIST --}}
          {{render '@related-list' }}
        </aside>
      </div>
    </div>
  </main>

  {{ render '@footer' }}
</div>