<section class="banner{{#if modifier}} {{ modifier }}{{/if}}">
  <img class="banner__image" src="{{ path '/images/{{ bannerImage }}' }}" alt="{{ title }}" width="1440" height="400" />
  {{#if bannerTitle}}
    <h1 class="banner__heading" data-aos="fade-up" data-aos-duration="350">{{{ bannerTitle }}}</h1>
  {{/if}}
</section>