// ------------------------------------------------------
// BANNER
// ------------------------------------------------------

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;

  @include mq($from: tablet) {
    height: 18rem;
  }
  @include mq($from: desktop) {
    height: 25rem;
  }

  // Modifiers
  &--large {
    @include mq($from: tablet) {
      height: 22rem;
    }
    @include mq($from: desktop) {
      height: 28rem;
    }
    @include mq($from: desktop-landscape) {
      height: 36.25rem;
    }
  }

  // Childs
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: z(behind);
  }

  &__heading {
    max-width: 25ch;
    font-size: 1.75rem;
    line-height: 1.2;
    text-align: center;
    color: var(--white);
    text-shadow: 0.1875rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.5);

    @include mq($from: tablet) {
      font-size: 2rem;
    }
    @include mq($from: desktop) {
      font-size: 3rem;
      line-height: 1.25;
    }
  }
}
