// ------------------------------------------------------
// Counters
// ------------------------------------------------------

.counters {
  @include fullBackground;
  padding: 3.75rem 1rem;
  margin-bottom: 2rem;

  @include mq($from: tablet) {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    margin-bottom: 3.5rem;
  }

  .container {
    @include wrapAnything(64rem);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 2rem;
  }
}

.counter {
  text-align: center;

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    margin-bottom: 2.5rem;
    border-radius: 50%;
    background-color: var(--white);

    @include mq($from: tablet) {
      width: 9.25rem;
      height: 9.25rem;
    }
  }

  &__label {
    font-weight: $regular;
    font-size: 1rem;

    @include mq($from: tablet) {
      font-size: 1.125rem;
    }

    > span {
      display: block;
      margin-bottom: 0.625rem;
      color: var(--secondary-color);
    }

    > strong {
      font-size: 3.25rem;
      line-height: 1;
      color: var(--primary-color);
    }
  }
}
