<section class="counters" data-role="counters">
  <div class="container">
    {{#each counters}}
      <div class="counter" {{{ attributes }}}>
        <div class="counter__icon">
          <svg width="72" height="72" viewBox="0 0 59 59">
            <use xlink:href="#{{ icon }}"></use>
          </svg>
        </div>
        <p class="counter__label">
          <span>{{ text }}</span>
          <strong>
            <span data-role="counter" id="{{ counterId }}" data-counter-limit="{{ counter }}" data-counter-duration="{{ counterDuration }}">0</span>
            {{#if suffix}}
            {{ suffix }}
            {{/if}}
          </strong>
        </p>
      </div>
    {{/each}}
  </div>
</section>