// -------------------------
// Work
// -------------------------

.work-page {
  .container {
    @include wrapAnything($maxWidth: 72.5rem);
  }

  .work-content {
    padding: 2.5rem 1rem;

    @include mq($from: tablet) {
      padding-top: 4.5rem;
      padding-bottom: 4.5rem;
    }
    @include mq($from: desktop) {
      padding-bottom: 5.625rem;
    }
  }

  .work-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    @include mq($from: tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
