<div class="app">
  {{ render '@header' }}

  <main role="main" class="app-content work-page">
    {{!-- HERO --}}
    {{> '@hero' }}

    <div class="work-content">
      <div class="container">
        {{!-- TITLE --}}
        {{> '@title' }}

        <div class="work-cards">
          {{#each cards}}
            {{> '@card' modifier="card--work" }}
          {{/each}}
        </div>
      </div>
    </div>

  </main>

  {{ render '@footer' }}
</div>