// ------------------------------------------------------
// DOWNLOAD
// ------------------------------------------------------

.download {
  padding-top: 2rem;
  padding-bottom: 3.5rem;

  @include mq($from: tablet) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 5.25rem;
  }
  @include mq($from: desktop) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @include mq($from: desktop-middle) {
    padding-left: 7rem;
  }

  &__img {
    max-width: 32.75rem;
    margin: 0 auto;

    @include mq($from: tablet) {
      width: 50%;
    }
  }

  &__info {
    padding-right: 2rem;

    @include mq($from: desktop) {
      padding-right: 4rem;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    font-family: $ff;
    font-weight: $regular;
    font-size: 1.125rem;
    line-height: 1.25;
    color: var(--primary-color);

    @include mq($from: tablet) {
      margin-bottom: 2.5rem;
      font-size: 1.5rem;
    }
    @include mq($from: desktop) {
      font-size: 1.75rem;
    }
  }

  &__link {
    display: flex;
    align-items: baseline;
    margin-top: auto;
    font-family: $ff-bold;
    font-size: 0.875rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 300ms ease-in;

    @include mq($from: tablet) {
      font-size: 1rem;
    }

    &:hover,
    &:focus {
      color: var(--primary-darken-color);

      > span::before {
        transform: scaleX(1);
      }
    }

    > span {
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 0.125rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to right,
          var(--primary-color),
          var(--primary-darken-color),
          var(--primary-color)
        );
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms ease-in;
      }
    }

    > svg {
      margin-left: 0.375rem;
    }
  }
}
