<section class="download">
  <img class="download__img" width="524" height="448" src="{{ path '/images/{{ src }}' }}" alt="" {{{ imageAttributesFX }}}>
  <div class="download__info">
    <h3 class="download__title" {{{ titleAttributesFX }}}>{{ title }}</h3>
    <a class="download__link" href="#" {{{ linkAttributesFX }}}>
      <span>{{ link }}</span>
      <svg width="6" height="10" viewBox="0 0 28 48">
        <use xlink:href="#arrow"></use>
      </svg>
    </a>
  </div>
</section>