// ------------------------------------------------------
// SERVICE
// ------------------------------------------------------

.service {
  padding: 2.5rem 1rem 2rem;
  border-radius: 1.25rem;
  text-align: center;
  color: var(--blue-300);
  box-shadow: 0 1.25rem 2rem 0 rgba(0, 0, 0, 0);
  transition: all 200ms;

  @include mq($from: desktop) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &:hover {
    transition: box-shadow 150ms cubic-bezier(0.66, 0.42, 0.9, 0.65),
      transform 300ms cubic-bezier(0.43, 1.13, 0.52, 1.16);
    box-shadow: 0 1.25rem 2rem 0 rgba(0, 0, 0, 0.25);
    transform: scale(1.1);
  }

  &__icon {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto 1.5rem;

    @include mq($from: tablet) {
      width: 4rem;
      height: 4rem;
      margin-bottom: 1.875rem;
    }
  }

  &__heading {
    margin-bottom: 0;
    font-family: $ff-bold;
    font-size: 1.25rem;
    font-weight: $bold;
    line-height: 1.3;
    color: inherit;
  }
}
