<div class="service">
  <div {{{ attributes }}}>
    <svg class="service__icon">
      <use xlink:href="#{{ icon }}"></use>
    </svg>
    <h2 class="service__heading">{{{ title }}}</h2>
  </div>
</div>