<section class="ending">
  <div class="container">
    {{#each endingText}}
      <p class="ending__text"  data-aos="fade-up" data-aos-duration="350" data-aos-delay="{{ delay }}">{{ text }}</p>
    {{/each}}
  </div>
</section>