// ------------------------------------------------------
// Ending
// ------------------------------------------------------

.ending {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background: url('../images/about-ending.jpg') no-repeat center / cover;

  @include mq($from: tablet) {
    min-height: 28rem;
  }
  @include mq($from: desktop) {
    min-height: 31.25rem;
  }

  .container {
    @include wrapAnything($maxWidth: 70rem);
    width: 100%;
  }

  &__text {
    font-size: 1.5rem;
    text-align: center;
    color: var(--white);

    @include mq($from: tablet) {
      font-size: 1.75rem;
    }
    @include mq($from: desktop) {
      font-size: 2rem;
    }

    & + & {
      margin-top: 2rem;
    }
  }
}
