// ------------------------------------------------------
// Contact
// ------------------------------------------------------

.contact {
  @include fullBackground;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: var(--blue-100);

  @include mq($from: tablet) {
    display: flex;
    align-items: center;
  }

  &__img {
    width: 100%;
    max-width: 30rem;
    height: auto;
    margin: 0 auto;

    @include mq($from: tablet) {
      width: 50%;
      margin-left: 0;
      margin-right: 4rem;
    }
    @include mq($from: desktop) {
      margin-left: 3rem;
      margin-right: 6rem;
    }
  }

  &__info {
    padding-top: 2rem;

    @include mq($from: desktop) {
      padding-right: 4rem;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    font-family: $ff;
    font-weight: $regular;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--primary-color);

    @include mq($from: tablet) {
      margin-bottom: 2rem;
      font-size: 1.5rem;
    }
    @include mq($from: desktop) {
      font-size: 1.75rem;
    }
  }

  &__address {
    font-size: 1rem;
    font-style: normal;
    color: var(--secondary-color);

    @include mq($from: tablet) {
      font-size: 1.125rem;
    }
  }

  // ANIMATIONS
  .aos-animate .circle {
    transform-origin: 50%;
    animation: rotate 50000ms infinite forwards linear;
  }
}
