<article class="related{{#if modifier}} {{ modifier }}{{/if}}">
  <header class="related-header">
    <img width="125" height="125" src="{{ path '/images/{{ src }}' }}" alt="" class="related__img">
  </header>
  <div class="related-body">
    {{#if date }}
      <time class="related__date" datetime="{{ date }}">{{ date }}</time>
    {{/if}}
    <h2 class="related__heading">{{ title }}</h2>
    <a class="related__link" href="{{ href }}">
      <span>{{ link }}</span>
      <svg width="6" height="10" viewBox="0 0 28 48">
        <use xlink:href="#arrow"></use>
      </svg>
    </a> 
  </div>
</article>