// ------------------------------------------------------
// Related
// ------------------------------------------------------

.related {
  display: flex;
  align-items: flex-start;
  position: relative;

  &-header {
    margin-right: 1.25rem;
  }

  &-body {
  }

  // Childs
  &__img {
    width: 7.8125rem;
    height: 7.8125rem;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: all 300ms ease-in;
  }

  &__date {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--tertiary-color);
  }

  &__heading {
    margin-bottom: 0.625rem;
    font-size: 1.125rem;
    line-height: 1.12;
    color: var(--secondary-color);
  }

  &__link {
    display: flex;
    align-items: baseline;
    font-family: $ff-bold;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 300ms ease-in;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover,
    &:focus {
      color: var(--primary-darken-color);

      > span::before {
        transform: scaleX(1);
      }
    }

    > span {
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 0.125rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to right,
          var(--primary-color),
          var(--primary-darken-color),
          var(--primary-color)
        );
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms ease-in;
      }
    }

    > svg {
      margin-left: 0.375rem;
    }
  }

  &:hover {
    .related__img {
      filter: grayscale(50%);
    }
  }
}
