// ------------------------------------------------------
// Card
// ------------------------------------------------------

.card {
  position: relative;

  &-header {
    margin-bottom: 1.5rem;

    @include mq($from: tablet) {
      margin-bottom: 2rem;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  // Childs
  &__img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: all 300ms ease-in;

    @include mq($from: tablet) {
      height: 15.625rem;
    }
  }

  &__date {
    margin-bottom: 0.625rem;
    font-size: 0.875rem;
    color: var(--tertiary-color);

    @include mq($from: tablet) {
      margin-bottom: 0.75rem;
      font-size: 1rem;
    }
  }

  &__heading {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.12;
    color: var(--secondary-color);

    @include mq($from: tablet) {
      font-size: 1.5rem;
    }
  }

  &__title {
    margin-bottom: 1.5rem;
    font-family: $ff;
    font-weight: $regular;
    font-size: 1.125rem;
    line-height: 1.12;
    color: var(--primary-color);

    @include mq($from: tablet) {
      margin-bottom: 2.5rem;
      font-size: 1.5rem;
    }
    @include mq($from: desktop) {
      font-size: 1.75rem;
    }
  }

  &__link {
    display: flex;
    align-items: baseline;
    margin-top: auto;
    font-family: $ff-bold;
    font-size: 0.875rem;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 300ms ease-in;

    @include mq($from: tablet) {
      font-size: 1rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:hover,
    &:focus {
      color: var(--primary-darken-color);

      > span::before {
        transform: scaleX(1);
      }
    }

    > span {
      position: relative;

      &::before {
        content: '';
        width: 100%;
        height: 0.125rem;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to right,
          var(--primary-color),
          var(--primary-darken-color),
          var(--primary-color)
        );
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 300ms ease-in;
      }
    }

    > svg {
      margin-left: 0.375rem;
    }
  }

  &__text {
  }

  &:hover {
    .card__img {
      filter: grayscale(50%);
    }
  }
}

// MODIFIERS
.card {
  $self: &;

  &--work {
    #{$self}__heading {
      margin-bottom: 0.625rem;
      font-family: $ff;
      font-weight: 400;

      @include mq($from: desktop) {
        font-size: 1.75rem;
      }
    }
  }

  &--services {
    #{$self}__heading {
      font-family: $ff;
      font-weight: 400;

      @include mq($from: desktop) {
        font-size: 1.75rem;
      }
    }
  }

  &--cta {
  }

  &--cta-row {
    @include mq($from: tablet) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    #{$self}-header {
      @include mq($from: tablet) {
        flex: 0 0 20rem;
        margin-bottom: 0;
      }
      @include mq($from: desktop) {
        flex: 0 0 35rem;
      }
    }

    #{$self}-body {
      @include mq($from: tablet) {
        flex-grow: 1;
        padding-right: 2rem;
      }
    }

    #{$self}__img {
      @include mq($from: desktop) {
        height: 20rem;
      }
    }
  }
}
