<article class="card{{#if modifier}} {{ modifier }}{{/if}}" {{{ cardAttributes }}}>
  <header class="card-header" {{{ headerAttributesFX }}}>
    <img width="325" height="250" src="{{ path '/images/{{ src }}' }}" alt="" class="card__img">
  </header>
  <div class="card-body" {{{ bodyAttributesFX }}}>
    {{#if date }}
      <time class="card__date" datetime="{{ date }}">{{ date }}</time>
    {{/if}}
    
    {{#if title }}
    <h2 class="card__heading">{{ title }}</h2>
    {{/if}}

    {{#if text }}
      {{#each text}}
        <p class="card__text">{{ . }}</p>
      {{/each}}
    {{/if}}
    
    {{#if link }}
    <a class="card__link" href="{{ href }}">
      <span>{{ link }}</span>
      <svg width="6" height="10" viewBox="0 0 28 48">
        <use xlink:href="#arrow"></use>
      </svg>
    </a> 
    {{/if}}

    {{#if ctaTitle }}
      <h2 class="card__title">{{{ ctaTitle }}}</h2>
    {{/if}}
      
    {{#if cta }}
      <a href="#" class="button button--secondary">{{ cta }}</a>
    {{/if}}
    
    
  </div>
</article>