// ----------------------------------------------------------------------
// BUTTONS
// ----------------------------------------------------------------------

%button-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 2rem;
  border-radius: 2rem;
  font-family: $ff-bold;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  transition: all 300ms ease-in;

  @include mq($from: tablet) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  // STATES
  &[disabled] {
    pointer-events: none;
    opacity: 0.6;
  }
}

// DEFAULT CLASS
@mixin createButton(
  $border: false,
  $borderColor: var(--white),
  $frontColor: var(--white),
  $bgColor: var(--white)
) {
  @extend %button-base;

  @if $border {
    border: 1px solid $borderColor;
  }

  color: $frontColor;
  background-color: $bgColor;

  @content;
}

.button {
  @include createButton(
    $border: 'true',
    $borderColor: var(--primary-color),
    $frontColor: var(--primary-color)
  ) {
    &:hover,
    &:focus {
      color: var(--white);
      background-color: var(--primary-color);
    }
  }
}

// MODIFIERS
.button--secondary {
  @include createButton(
    $border: 'true',
    $borderColor: var(--primary-color),
    $frontColor: var(--white),
    $bgColor: var(--primary-color)
  ) {
    &:hover,
    &:focus {
      background-color: var(--primary-darken-color);
      border-color: var(--primary-darken-color);
    }
  }
}
