// -----------------------
// HEADER
// -----------------------

.app-header {
  padding: 1rem;
  background-color: var(--white);

  .container {
    @include wrapAnything;
    display: flex;
    align-items: center;

    .logo {
      flex: 0 0 14rem;
      max-width: 15rem;
      min-width: 12rem;

      @include mq($from: desktop-large) {
        margin-left: 1.5rem;
      }
    }
  }
}
