// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
  font-family: 'Santander Headline';
  src: url('../fonts/SantanderHeadline-Regular.woff2') format('woff2'),
    url('../fonts/SantanderHeadline-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Santander Headline Bold';
  src: url('../fonts/SantanderHeadline-Bold.woff2') format('woff2'),
    url('../fonts/SantanderHeadline-Bold.woff') format('woff');
  font-weight: 700;
}

// Fonts
//-----------
$ff: 'Santander Headline', serif !default;
$ff-bold: 'Santander Headline Bold', serif !default;

// Font weight
//-----------
$regular: 400;
$bold: 700;
