// Dev
// -------
@mixin dev($color: $dev) {
  border: 2px dashed $color;
}

@mixin animate-show(
  $dir: 'v',
  $offset: 1rem,
  $duration: 750ms,
  $function: $ease-out,
  $delay: 100ms
) {
  // @warn $dir;

  // Check direction
  @if $dir == 'v' {
    transform: translate3d(0, $offset, 0);
  } @else {
    transform: translate3d($offset, 0, 0);
  }

  opacity: 0;
  animation: {
    name: show;
    duration: $duration;
    timing-function: $function;
    delay: $delay;
    fill-mode: forwards;
  }
}

//  Aspect Ratio for VIDEOS
//
//  --- USAGE:
//
//  .video {
//    @include aspect-ratio( 16, 9 );
//  }

@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: calc(1 / (#{$height} / #{$width}) * 100%);
  }

  > *:first-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@mixin wrapAnything($maxWidth: var(--wrapper-max-width), $padding: 0) {
  max-width: $maxWidth;
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;

  // @include mq($from: max-width) {
  // 	--wrapper-max-width: 88.888%;
  // 	padding: 0;
  // }
}

@mixin addBorderBottom(
  $direction: 'bottom',
  $position: 'left',
  $width: 5rem,
  $color: var(--white)
) {
  position: relative;

  @if $direction == 'bottom' {
    padding-bottom: 0.25rem;
  } @else {
    padding-top: 0.25rem;
  }

  &::after {
    content: '';
    width: $width;
    height: 0.0625rem;
    background-color: $color;
    position: absolute;
    transition: all 400ms $ease-in;

    @if $direction == 'bottom' {
      bottom: 0;
    } @else {
      top: 0;
    }

    @if $position == 'left' {
      left: 0;
    } @else {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// Reset Margins & Paddings
@mixin resetMarginsPaddings() {
  padding-left: initial;
  padding-right: initial;
  margin-left: initial;
  margin-right: initial;
}

@mixin fullBackground($color: var(--blue-100)) {
  background-color: $color;
  position: relative;

  &::before {
    content: '';
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-left: calc(50% - 50vw);
    background-color: $color;
  }
}
