// Dev
//-----------
$dev: #f06;
$dev-1: rgba(0, 255, 13, 0.74);

// Namespace
// -----------
$namespace: 'taw';

// Brand Colours
//-----------
:root {
  --white: #ffffff;
  --black: #444444;
  --gray-100: #e3e3e3;
  --gray-200: #ced0ce;
  --gray-250: #cccccc;
  --gray-300: #767676;
  --red-300: #ee0000;
  --red-400: #cb0404;
  --blue-100: #eff6f9;
  --blue-300: #36b7c0;

  --primary-color: var(--red-300);
  --primary-darken-color: var(--red-400);
  --secondary-color: var(--black);
  --tertiary-color: var(--gray-300);

  --c-error: hsl(6, 70%, 55%);
  --c-success: hsl(126, 60%, 50%);

  --wrapper-max-width: 90rem;
}

// Easing
//-----------
$ease-in: cubic-bezier(0, 0, 0.24, 0.9);
$ease-out: cubic-bezier(0.59, 0, 0.68, 0.69);
$ease-in-bounce: cubic-bezier(0.03, 0.27, 0.49, 1.22);
$ease-out-bounce: cubic-bezier(0.59, 0, 0.59, 1.48);
$ease-linear: cubic-bezier(0.03, 0.27, 0.44, 0.93);
$ease-extreme: cubic-bezier(0.68, -0.55, 0.26, 1.55);

// Timing
//-----------
$fast: 150ms;
$normal: 250ms;
$slow: 350ms;
$ultraslow: 500ms;

// Delay
//-----------
$delay: 50ms;

// Z-index
//-----------
$z-layers: (
  behind: -1,
  default: 1,
  overlay: 10,
  modal: 20,
  header: 30,
  spinner: 40,
);
