// ------------------------------------------------------
// TYPE
// ------------------------------------------------------

// Headings
// ------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-bold;
  line-height: 1.12;
  color: var(--secondary-color);
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;

  @include mq($from: tablet) {
    margin-bottom: 2.25rem;
    font-size: 2.25rem;
  }
}

h2 {
  margin-bottom: 1.875rem;
  font-size: 1.875rem;

  @include mq($from: tablet) {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
}

h3 {
  margin-bottom: 1.75rem;
  font-size: 1.75rem;

  @include mq($from: tablet) {
    margin-bottom: 1.875rem;
    font-size: 1.875rem;
  }
}

h4 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;

  @include mq($from: tablet) {
    margin-bottom: 1.75rem;
    font-size: 1.75rem;
  }
}

h5 {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;

  @include mq($from: tablet) {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
}

h6 {
  margin-bottom: 1.125rem;
  font-size: 1.125rem;

  @include mq($from: tablet) {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--secondary-color);

  @include mq($from: tablet) {
    font-size: 1.125rem;
    line-height: 1.5;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

time {
  display: block;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
  color: var(--tertiary-color);

  @include mq($from: desktop-extralarge) {
    font-size: 1rem;
  }
}

ul.list {
  list-style-type: none;
  padding-left: 2rem;
  margin-bottom: 3rem;

  li {
    position: relative;
    font-family: $ff;
    padding-left: 1rem;
    margin-bottom: 1.5rem;

    &::before {
      content: '';
      display: block;
      width: 0.3rem;
      height: 0.3rem;
      background-color: var(--primary-color);
      border-radius: 10rem;
      position: absolute;
      top: 0.75rem;
      left: 0;
    }
  }
}

.heading {
  max-width: 45ch;
  font-family: $ff;
  font-weight: $regular;
  font-size: 1.75rem;
  color: var(--primary-color);

  @include mq($from: tablet) {
    font-size: 2rem;
  }
}
